=begin
#PayConductor API

#PayConductor API Documentation.  This documentation covers all available features in the PayConductor RESTful API, including authentication, resource management, and usage examples.  <br />  <br />  ----  <br />   # Authentication  PayConductor API uses HTTP Basic authentication to validate requests. You need to provide your credentials (Client ID and Client Secret) in the `client:secret` format encoded in Base64.  <br />  ## Getting Credentials  1. Access the PayConductor admin panel 2. Navigate to **Settings > API Keys** 3. Generate a new credentials pair (Client ID and Client Secret) 4. Store the Client Secret in a secure location - it will not be displayed again  <br />  ## Authentication Format  Credentials must be sent in the `Authorization` header using the Basic scheme:  ``` Authorization: Basic base64(client_id:client_secret) ```  <br />  ## Node.js Example  ```javascript const clientId = 'your_client_id'; const clientSecret = 'your_client_secret';  // Encode credentials in Base64 const credentials = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');  const response = await fetch('https://api.payconductor.com/api/v1/orders', {   method: 'GET',   headers: {     'Authorization': `Basic ${credentials}`,     'Content-Type': 'application/json'   } });  const data = await response.json(); console.log(data); ```  <br />  ## Authentication Errors  | Code | Description | |------|-------------| | `401` | Invalid or missing credentials | | `403` | Valid credentials but no permission for the resource | | `429` | Too many requests (rate limit exceeded) |  ### Error Response Example  ```json {   \"error\": {     \"code\": \"UNAUTHORIZED\",     \"message\": \"Invalid credentials\",     \"details\": \"The provided client ID or secret is incorrect\"   } } ```

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module OpenapiClient
  class OrderApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Confirm Order
    # Confirms a Draft order, setting the payment method and processing the charges associated with the order.
    # @param id [String] 
    # @param order_payment_request [OrderPaymentRequest] Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)
    # @param [Hash] opts the optional parameters
    # @return [OrderConfirmResponse]
    def order_confirm(id, order_payment_request, opts = {})
      data, _status_code, _headers = order_confirm_with_http_info(id, order_payment_request, opts)
      data
    end

    # Confirm Order
    # Confirms a Draft order, setting the payment method and processing the charges associated with the order.
    # @param id [String] 
    # @param order_payment_request [OrderPaymentRequest] Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderConfirmResponse, Integer, Hash)>] OrderConfirmResponse data, response status code and response headers
    def order_confirm_with_http_info(id, order_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderApi.order_confirm ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrderApi.order_confirm"
      end
      # verify the required parameter 'order_payment_request' is set
      if @api_client.config.client_side_validation && order_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'order_payment_request' when calling OrderApi.order_confirm"
      end
      # resource path
      local_var_path = '/orders/{id}/confirm'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderConfirmResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"OrderApi.order_confirm",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_confirm\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Order
    # Create a new order for payment using the provided data
    # @param order_create_request [OrderCreateRequest] Order data for payment processing
    # @param [Hash] opts the optional parameters
    # @return [OrderCreateResponse]
    def order_create(order_create_request, opts = {})
      data, _status_code, _headers = order_create_with_http_info(order_create_request, opts)
      data
    end

    # Create Order
    # Create a new order for payment using the provided data
    # @param order_create_request [OrderCreateRequest] Order data for payment processing
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrderCreateResponse, Integer, Hash)>] OrderCreateResponse data, response status code and response headers
    def order_create_with_http_info(order_create_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderApi.order_create ...'
      end
      # verify the required parameter 'order_create_request' is set
      if @api_client.config.client_side_validation && order_create_request.nil?
        fail ArgumentError, "Missing the required parameter 'order_create_request' when calling OrderApi.order_create"
      end
      # resource path
      local_var_path = '/orders/'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(order_create_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrderCreateResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"OrderApi.order_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Orders
    # Retrieve a list of orders. Use date filter and pagination parameters to refine results as needed.
    # @param page [Float] 
    # @param page_size [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :end_date 
    # @option opts [Time] :start_date 
    # @option opts [String] :id 
    # @option opts [String] :status 
    # @return [nil]
    def order_list(page, page_size, opts = {})
      order_list_with_http_info(page, page_size, opts)
      nil
    end

    # List Orders
    # Retrieve a list of orders. Use date filter and pagination parameters to refine results as needed.
    # @param page [Float] 
    # @param page_size [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :end_date 
    # @option opts [Time] :start_date 
    # @option opts [String] :id 
    # @option opts [String] :status 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def order_list_with_http_info(page, page_size, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderApi.order_list ...'
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling OrderApi.order_list"
      end
      if @api_client.config.client_side_validation && page < 1
        fail ArgumentError, 'invalid value for "page" when calling OrderApi.order_list, must be greater than or equal to 1.'
      end

      # verify the required parameter 'page_size' is set
      if @api_client.config.client_side_validation && page_size.nil?
        fail ArgumentError, "Missing the required parameter 'page_size' when calling OrderApi.order_list"
      end
      if @api_client.config.client_side_validation && page_size > 100
        fail ArgumentError, 'invalid value for "page_size" when calling OrderApi.order_list, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && page_size < 1
        fail ArgumentError, 'invalid value for "page_size" when calling OrderApi.order_list, must be greater than or equal to 1.'
      end

      allowable_values = ["Generating", "Pending", "Completed", "Failed", "Canceled", "Refunding", "Refunded", "InDispute", "Chargeback"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/orders/'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = page
      query_params[:'pageSize'] = page_size
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"OrderApi.order_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Order By ID
    # Retrieve the complete data of an order by our ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def order_read(id, opts = {})
      order_read_with_http_info(id, opts)
      nil
    end

    # Get Order By ID
    # Retrieve the complete data of an order by our ID
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def order_read_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderApi.order_read ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrderApi.order_read"
      end
      # resource path
      local_var_path = '/orders/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"OrderApi.order_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refund Order
    # Initiate a refund for the order specified by ID.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def order_refund(id, opts = {})
      order_refund_with_http_info(id, opts)
      nil
    end

    # Refund Order
    # Initiate a refund for the order specified by ID.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def order_refund_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrderApi.order_refund ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OrderApi.order_refund"
      end
      # resource path
      local_var_path = '/orders/{id}/refund'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['basicAuth']

      new_options = opts.merge(
        :operation => :"OrderApi.order_refund",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrderApi#order_refund\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
