{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://app.payconductor.ai/api/v1"
    }
  ],
  "webhooks": {
    "Atualização do Pedido": {
      "post": {
        "requestBody": {
          "description": "Disparado quando o status de um pedido é alterado.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "default": "OrderCreated",
                    "description": "Nome do evento do webhook",
                    "examples": [
                      "OrderCreated",
                      "OrderCompleted"
                    ],
                    "type": "string",
                    "enum": [
                      "OrderCreated",
                      "OrderPending",
                      "OrderCompleted",
                      "OrderFailed",
                      "OrderRefunded",
                      "OrderChargeback"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "ID do pedido no sistema",
                        "examples": [
                          "ord_abc123"
                        ],
                        "type": "string"
                      },
                      "externalId": {
                        "anyOf": [
                          {
                            "description": "ID externo do pedido (fornecido pela sua integração)",
                            "examples": [
                              "pedido_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalIntegrationKey": {
                        "description": "Provedor utilizada para processar o pedido",
                        "examples": [
                          "PagarMe",
                          "Stripe"
                        ],
                        "type": "string"
                      },
                      "externalIntegrationId": {
                        "anyOf": [
                          {
                            "description": "ID do pedido no provedor de pagamento",
                            "examples": [
                              "pedido_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "amount": {
                        "description": "Valor total do pedido",
                        "examples": [
                          150.45
                        ],
                        "type": "number"
                      },
                      "costFee": {
                        "description": "Taxa de custo aplicada ao pedido",
                        "examples": [
                          4.5
                        ],
                        "type": "number"
                      },
                      "pix": {
                        "description": "Dados do PIX",
                        "type": "object",
                        "properties": {
                          "copyAndPasteCode": {
                            "description": "Código copia e cola do PIX",
                            "examples": [
                              "00020126580014br.gov.bcb.pix..."
                            ],
                            "type": "string"
                          },
                          "qrCodeUrl": {
                            "description": "URL da imagem do QR Code PIX",
                            "examples": [
                              "https://example.com/qrcode.png"
                            ],
                            "type": "string"
                          },
                          "endToEndId": {
                            "nullable": true,
                            "anyOf": [
                              {
                                "description": "E2E ID do PIX",
                                "examples": [
                                  "E2EID1234567890"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "copyAndPasteCode",
                          "qrCodeUrl",
                          "endToEndId"
                        ]
                      },
                      "bankSlip": {
                        "type": "object",
                        "properties": {
                          "barCode": {
                            "description": "Código de barras do boleto",
                            "examples": [
                              "34191790010104351004791020150008291070026000"
                            ],
                            "type": "string"
                          },
                          "digitableLine": {
                            "description": "Linha digitável do boleto",
                            "examples": [
                              "34191.79001 01043.510047 91020.150008 2 91070026000"
                            ],
                            "type": "string"
                          },
                          "pdfUrl": {
                            "description": "URL do PDF do boleto",
                            "examples": [
                              "https://example.com/boleto.pdf"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "barCode",
                          "digitableLine"
                        ]
                      },
                      "nuPay": {
                        "type": "object",
                        "properties": {
                          "paymentUrl": {
                            "description": "URL de pagamento NuPay",
                            "examples": [
                              "https://nupay.com.br/payment/123456"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "paymentUrl"
                        ]
                      },
                      "picPay": {
                        "type": "object",
                        "properties": {
                          "copyAndPasteCode": {
                            "description": "Código copia e cola do PicPay",
                            "examples": [
                              "picpay.me/loja/abc123"
                            ],
                            "type": "string"
                          },
                          "qrCodeUrl": {
                            "description": "URL da imagem do QR Code PicPay",
                            "examples": [
                              "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "copyAndPasteCode",
                          "qrCodeUrl"
                        ]
                      },
                      "creditCard": {
                        "type": "object",
                        "properties": {
                          "authorizationCode": {
                            "description": "Código de autorização da transação",
                            "examples": [
                              "123456"
                            ],
                            "type": "string"
                          }
                        }
                      },
                      "status": {
                        "description": "Status do pedido",
                        "examples": [
                          "Pending",
                          "Completed"
                        ],
                        "anyOf": [
                          {
                            "const": "Generating",
                            "type": "string"
                          },
                          {
                            "const": "Pending",
                            "type": "string"
                          },
                          {
                            "const": "Completed",
                            "type": "string"
                          },
                          {
                            "const": "Failed",
                            "type": "string"
                          },
                          {
                            "const": "Canceled",
                            "type": "string"
                          },
                          {
                            "const": "Refunding",
                            "type": "string"
                          },
                          {
                            "const": "Refunded",
                            "type": "string"
                          },
                          {
                            "const": "InDispute",
                            "type": "string"
                          },
                          {
                            "const": "Chargeback",
                            "type": "string"
                          }
                        ]
                      },
                      "paymentMethod": {
                        "description": "Método de pagamento utilizado no pedido",
                        "examples": [
                          "Pix",
                          "CreditCard"
                        ],
                        "anyOf": [
                          {
                            "const": "Pix",
                            "type": "string"
                          },
                          {
                            "const": "CreditCard",
                            "type": "string"
                          },
                          {
                            "const": "DebitCard",
                            "type": "string"
                          },
                          {
                            "const": "BankSlip",
                            "type": "string"
                          },
                          {
                            "const": "Crypto",
                            "type": "string"
                          },
                          {
                            "const": "ApplePay",
                            "type": "string"
                          },
                          {
                            "const": "NuPay",
                            "type": "string"
                          },
                          {
                            "const": "PicPay",
                            "type": "string"
                          },
                          {
                            "const": "AmazonPay",
                            "type": "string"
                          },
                          {
                            "const": "SepaDebit",
                            "type": "string"
                          },
                          {
                            "const": "GooglePay",
                            "type": "string"
                          }
                        ]
                      },
                      "payedAt": {
                        "anyOf": [
                          {
                            "description": "Data e hora em que o pedido foi pago (ISO 8601)",
                            "examples": [
                              "2024-01-01T12:00:00Z"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "errorCode": {
                        "anyOf": [
                          {
                            "description": "Código de erro, se houver",
                            "examples": [
                              "INSUFFICIENT_FUNDS"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "errorMessage": {
                        "anyOf": [
                          {
                            "description": "Mensagem de erro, se houver",
                            "examples": [
                              "Saldo insuficiente"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "orderItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "anyOf": [
                                {
                                  "description": "ID externo do item",
                                  "examples": [
                                    "prod_123"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "description": "ID do item no pedido",
                              "examples": [
                                "item_abc123"
                              ],
                              "type": "string"
                            },
                            "name": {
                              "description": "Nome do produto/serviço",
                              "examples": [
                                "Camisa Polo"
                              ],
                              "type": "string"
                            },
                            "qty": {
                              "description": "Quantidade",
                              "examples": [
                                2
                              ],
                              "type": "number"
                            },
                            "totalAmount": {
                              "description": "Valor total do item (quantidade × preço unitário)",
                              "examples": [
                                200
                              ],
                              "type": "number"
                            },
                            "totalNetAmount": {
                              "description": "Valor líquido total do item",
                              "examples": [
                                180
                              ],
                              "type": "number"
                            },
                            "unityPrice": {
                              "description": "Preço unitário",
                              "examples": [
                                100
                              ],
                              "type": "number"
                            }
                          },
                          "required": [
                            "externalId",
                            "id",
                            "name",
                            "qty",
                            "totalAmount",
                            "totalNetAmount",
                            "unityPrice"
                          ]
                        }
                      },
                      "session": {
                        "nullable": true,
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "sessionId": {
                                "description": "ID da sessão de checkout associada ao pedido",
                                "type": "string"
                              }
                            },
                            "required": [
                              "sessionId"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "externalId",
                      "externalIntegrationKey",
                      "externalIntegrationId",
                      "amount",
                      "costFee",
                      "status",
                      "paymentMethod",
                      "payedAt",
                      "errorCode",
                      "errorMessage",
                      "orderItems"
                    ],
                    "noValidate": true
                  }
                },
                "required": [
                  "event",
                  "payload"
                ]
              }
            }
          }
        }
      }
    },
    "Atualização do Saque": {
      "post": {
        "requestBody": {
          "description": "Disparado quando o status de um saque é alterado.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "default": "WithdrawCreated",
                    "description": "Nome do evento do webhook",
                    "examples": [
                      "WithdrawCreated",
                      "WithdrawCompleted"
                    ],
                    "type": "string",
                    "enum": [
                      "WithdrawCreated",
                      "WithdrawCompleted",
                      "WithdrawFailed",
                      "WithdrawTransferring"
                    ]
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Identificador único do saque",
                        "examples": [
                          "wd_1234567890"
                        ],
                        "type": "string"
                      },
                      "externalId": {
                        "nullable": true,
                        "anyOf": [
                          {
                            "description": "ID do saque no sistema no seu sistema",
                            "examples": [
                              "external_withdraw_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalIntegrationKey": {
                        "description": "Chave do provedor utilizado para o saque",
                        "examples": [
                          "PagarMe",
                          "Asaas"
                        ],
                        "type": "string"
                      },
                      "externalIntegrationId": {
                        "anyOf": [
                          {
                            "description": "ID do saque no provedor de pagamento",
                            "examples": [
                              "withdraw_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "costFee": {
                        "description": "Taxa de custo aplicada ao saque",
                        "examples": [
                          4.5
                        ],
                        "type": "number"
                      },
                      "status": {
                        "default": "Pending",
                        "description": "Status do saque",
                        "examples": [
                          "Pending",
                          "Completed"
                        ],
                        "type": "string",
                        "enum": [
                          "Pending",
                          "Transferring",
                          "Completed",
                          "Failed"
                        ]
                      },
                      "errorCode": {
                        "anyOf": [
                          {
                            "description": "Código do erro, se houver",
                            "examples": [
                              "insufficient_funds",
                              "invalid_account"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "errorMessage": {
                        "anyOf": [
                          {
                            "type": "null"
                          },
                          {
                            "description": "Mensagem descritiva do erro, se houver",
                            "examples": [
                              "Saldo insuficiente para completar o saque",
                              "Conta bancária inválida"
                            ],
                            "type": "string"
                          }
                        ]
                      },
                      "payedAt": {
                        "anyOf": [
                          {
                            "type": "null"
                          },
                          {
                            "description": "Data e hora em que o saque foi pago (formato ISO 8601)",
                            "examples": [
                              "2024-01-01T12:00:00Z"
                            ],
                            "anyOf": [
                              {
                                "description": "Data e hora em que o saque foi pago (formato ISO 8601)",
                                "examples": [
                                  "2024-01-01T12:00:00Z"
                                ],
                                "type": "Date"
                              },
                              {
                                "format": "date-time",
                                "type": "string"
                              },
                              {
                                "format": "date",
                                "type": "string"
                              },
                              {
                                "type": "number"
                              }
                            ]
                          }
                        ]
                      },
                      "payoutAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Identificador único da conta de pagamento",
                            "examples": [
                              "pa_1234567890"
                            ],
                            "type": "string"
                          },
                          "ownerDocument": {
                            "description": "Documento do titular da conta (CPF ou CNPJ)",
                            "examples": [
                              "12345678909",
                              "12345678000195"
                            ],
                            "pattern": "^\\d{11}$|^\\d{14}$",
                            "type": "string"
                          },
                          "ownerName": {
                            "description": "Nome do titular da conta",
                            "examples": [
                              "João da Silva",
                              "Empresa XYZ Ltda"
                            ],
                            "type": "string"
                          },
                          "pixKey": {
                            "description": "Chave PIX utilizada para o saque",
                            "examples": [
                              "joao@example.com",
                              "11999999999"
                            ],
                            "type": "string"
                          },
                          "pixType": {
                            "default": "Cpf",
                            "description": "Tipo da chave PIX",
                            "examples": [
                              "Email",
                              "Cpf"
                            ],
                            "type": "string",
                            "enum": [
                              "Cpf",
                              "Cnpj",
                              "Email",
                              "Phone",
                              "Random"
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "ownerDocument",
                          "ownerName",
                          "pixKey",
                          "pixType"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "externalId",
                      "externalIntegrationKey",
                      "externalIntegrationId",
                      "costFee",
                      "status",
                      "errorCode",
                      "errorMessage",
                      "payedAt",
                      "payoutAccount"
                    ],
                    "noValidate": true
                  }
                },
                "required": [
                  "event",
                  "payload"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "description": "Use o formato Authorization: Basic base64('secret:')",
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {}
  },
  "info": {
    "title": "PayConductor API",
    "description": "# Introdução\n\nEsta documentação cobre todas as funcionalidades disponíveis na API RESTful do PayConductor, incluindo autenticação, gerenciamento de recursos e exemplos de uso.\n\n<br />\n\n<br />\n\n----\n\n<br />\n\n\n# Autenticação\n\nA API do PayConductor utiliza autenticação HTTP Basic para validar requisições. Você precisa fornecer suas credenciais (Client ID e Client Secret) no formato `client:secret` codificado em Base64.\n\n<br />\n\n## Obtendo Credenciais\n\n1. Acesse o painel administrativo do PayConductor\n2. Navegue até **Configurações > API Keys**\n3. Gere um novo par de credenciais (Client ID e Client Secret)\n4. Guarde o Client Secret em local seguro - ele não será exibido novamente\n\n<br />\n\n## Formato de Autenticação\n\nAs credenciais devem ser enviadas no header `Authorization` usando o esquema Basic:\n\n```\nAuthorization: Basic base64(client_id:client_secret)\n```\n\n<br />\n\n## Exemplo em Node.js\n\n```javascript\nconst clientId = 'seu_client_id';\nconst clientSecret = 'seu_client_secret';\n\n// Codifica as credenciais em Base64\nconst credentials = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');\n\nconst response = await fetch('https://api.payconductor.com/api/v1/orders', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Basic ${credentials}`,\n    'Content-Type': 'application/json'\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n```\n\n<br />\n\n## Erros de Autenticação\n\n| Código | Descrição |\n|--------|-----------|\n| `401`  | Credenciais inválidas ou ausentes |\n| `403`  | Credenciais válidas, mas sem permissão para o recurso |\n| `429`  | Muitas requisições (rate limit excedido) |\n\n### Exemplo de resposta de erro\n\n```json\n{\n  \"error\": {\n    \"code\": \"UNAUTHORIZED\",\n    \"message\": \"Invalid credentials\",\n    \"details\": \"The provided client ID or secret is incorrect\"\n  }\n}\n```",
    "version": "1.0.0"
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "description": "Gere cobranças, consulte o status dos pedidos e gerencie reembolsos.",
      "name": "Pedidos"
    },
    {
      "description": "Inicie e monitore saques e transferências para suas contas externas.",
      "name": "Saques e Transferências"
    }
  ],
  "paths": {
    "/orders/": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "description": "Crie um novo pedido para pagamento utilizando os dados fornecidos",
        "summary": "Criar pedido",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chargeAmount": {
                    "description": "Valor total a ser cobrado no pedido em valor flutuante",
                    "examples": [
                      150
                    ],
                    "type": "number"
                  },
                  "clientIp": {
                    "description": "Endereço IP do cliente",
                    "examples": [
                      "192.168.0.1"
                    ],
                    "type": "string"
                  },
                  "customer": {
                    "description": "Schema para criação de um novo cliente",
                    "title": "Cliente",
                    "type": "object",
                    "properties": {
                      "address": {
                        "description": "Schema para criação de um novo endereço",
                        "title": "Endereço do cliente",
                        "type": "object",
                        "properties": {
                          "city": {
                            "description": "Nome da cidade",
                            "examples": [
                              "São Paulo",
                              "Rio de Janeiro"
                            ],
                            "type": "string"
                          },
                          "country": {
                            "default": "BR",
                            "description": "Código do país no formato ISO 3166-1 alpha-2",
                            "examples": [
                              "BR",
                              "US"
                            ],
                            "maxLength": 2,
                            "minLength": 2,
                            "type": "string"
                          },
                          "neighborhood": {
                            "description": "Nome do bairro",
                            "examples": [
                              "Centro",
                              "Jardins"
                            ],
                            "type": "string"
                          },
                          "number": {
                            "description": "Número do endereço",
                            "examples": [
                              "1000",
                              "150"
                            ],
                            "type": "string"
                          },
                          "state": {
                            "description": "Código do estado no formato ISO 3166-2",
                            "examples": [
                              "SP",
                              "RJ"
                            ],
                            "maxLength": 2,
                            "minLength": 2,
                            "type": "string"
                          },
                          "street": {
                            "description": "Nome da rua",
                            "examples": [
                              "Av. Paulista",
                              "Rua das Flores"
                            ],
                            "type": "string"
                          },
                          "zipCode": {
                            "description": "CEP sem formatação",
                            "examples": [
                              "01311200",
                              "20040002"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "city",
                          "country",
                          "neighborhood",
                          "number",
                          "state",
                          "street",
                          "zipCode"
                        ]
                      },
                      "documentNumber": {
                        "description": "CPF ou CNPJ do cliente sem formatação",
                        "examples": [
                          "12345678909",
                          "12345678000195"
                        ],
                        "pattern": "^\\d{11}$|^\\d{14}$",
                        "type": "string"
                      },
                      "documentType": {
                        "type": "string",
                        "enum": [
                          "Cpf",
                          "Cnpj"
                        ]
                      },
                      "email": {
                        "description": "Email do cliente",
                        "examples": [
                          "cliente@example.com"
                        ],
                        "format": "email",
                        "type": "string"
                      },
                      "name": {
                        "description": "Nome completo do cliente",
                        "examples": [
                          "João da Silva"
                        ],
                        "type": "string"
                      },
                      "phoneNumber": {
                        "description": "Número de telefone do cliente no formato +55 DD 9XXXXXXXX",
                        "examples": [
                          "+55 11 987654321"
                        ],
                        "error": "Invalid phone number format. Expected format: +55 DD 9XXXXXXXX",
                        "pattern": "^\\+(\\d{1,2}) (\\d{2}) (\\d{8,9})$",
                        "type": "string"
                      }
                    },
                    "required": [
                      "documentNumber",
                      "documentType",
                      "email",
                      "name"
                    ]
                  },
                  "discountAmount": {
                    "default": 0,
                    "description": "Valor do desconto",
                    "type": "number"
                  },
                  "externalId": {
                    "description": "ID da ordem no seu sistema",
                    "examples": [
                      "seu_id_12345"
                    ],
                    "type": "string"
                  },
                  "fingerprints": {
                    "type": "object",
                    "properties": {
                      "threatMetrixFingerprintId": {
                        "description": "ID de fingerprint do ThreatMetrix para análise de fraude",
                        "examples": [
                          "tmx_fingerprint_abc123"
                        ],
                        "type": "string"
                      }
                    }
                  },
                  "items": {
                    "description": "Lista de produtos ou serviços do pedido",
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "ID do produto ou serviço no seu sistema",
                          "examples": [
                            "prod_123",
                            "serv_456"
                          ],
                          "type": "string"
                        },
                        "isPhysical": {
                          "default": false,
                          "description": "Define se o item é um produto físico ou um serviço",
                          "examples": [
                            true,
                            false
                          ],
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Nome do produto ou serviço",
                          "examples": [
                            "Camisa Polo",
                            "Prestação de Serviço"
                          ],
                          "type": "string"
                        },
                        "qty": {
                          "description": "Quantidade do produto ou serviço",
                          "examples": [
                            1
                          ],
                          "type": "number"
                        },
                        "unitPrice": {
                          "description": "Preço unitário",
                          "examples": [
                            100
                          ],
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "isPhysical",
                        "name",
                        "qty",
                        "unitPrice"
                      ]
                    }
                  },
                  "merchant": {
                    "description": "Dados do merchant para pedido ou saque",
                    "title": "MerchantInput",
                    "type": "object",
                    "properties": {
                      "document": {
                        "description": "CPF ou CNPJ do merchant sem formatação",
                        "examples": [
                          "12345678909",
                          "12345678000195"
                        ],
                        "pattern": "^\\d{11}$|^\\d{14}$",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email do merchant",
                        "examples": [
                          "merchant@example.com"
                        ],
                        "format": "email",
                        "type": "string"
                      },
                      "name": {
                        "description": "Nome do merchant",
                        "examples": [
                          "Loja do João"
                        ],
                        "maxLength": 255,
                        "minLength": 2,
                        "type": "string"
                      }
                    },
                    "required": [
                      "document",
                      "email",
                      "name"
                    ]
                  },
                  "payment": {
                    "description": "Dados de pagamento para o pedido (Pix, Cartão de Crédito, Boleto, NuPay, etc...)",
                    "anyOf": [
                      {
                        "title": "Pix",
                        "type": "object",
                        "properties": {
                          "paymentMethod": {
                            "const": "Pix",
                            "type": "string"
                          },
                          "expirationInSeconds": {
                            "default": 3600,
                            "description": "Tempo de expiração do PIX em segundos",
                            "examples": [
                              3600,
                              86400
                            ],
                            "minimum": 3600,
                            "anyOf": [
                              {
                                "format": "integer",
                                "default": 0,
                                "type": "string"
                              },
                              {
                                "default": 3600,
                                "description": "Tempo de expiração do PIX em segundos",
                                "examples": [
                                  3600,
                                  86400
                                ],
                                "minimum": 3600,
                                "type": "integer"
                              }
                            ]
                          }
                        },
                        "required": [
                          "paymentMethod"
                        ]
                      },
                      {
                        "title": "Cartão de crédito",
                        "type": "object",
                        "properties": {
                          "paymentMethod": {
                            "const": "CreditCard",
                            "type": "string"
                          },
                          "card": {
                            "anyOf": [
                              {
                                "title": "Cartão tokenizado",
                                "type": "object",
                                "properties": {
                                  "firstSixCardNumber": {
                                    "description": "Primeiros 6 dígitos do cartão de crédito",
                                    "examples": [
                                      "411111"
                                    ],
                                    "type": "string"
                                  },
                                  "token": {
                                    "description": "Token do cartão de crédito gerado anteriormente",
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "token"
                                ]
                              },
                              {
                                "title": "Dados completos do cartão",
                                "type": "object",
                                "properties": {
                                  "cvv": {
                                    "description": "Código de segurança do cartão (CVV)",
                                    "examples": [
                                      "123",
                                      "1234"
                                    ],
                                    "maxLength": 4,
                                    "minLength": 3,
                                    "type": "string"
                                  },
                                  "expiration": {
                                    "type": "object",
                                    "properties": {
                                      "month": {
                                        "description": "Mês de expiração do cartão",
                                        "examples": [
                                          1,
                                          12
                                        ],
                                        "maximum": 12,
                                        "minimum": 1,
                                        "type": "number"
                                      },
                                      "year": {
                                        "description": "Ano de expiração do cartão",
                                        "examples": [
                                          2030
                                        ],
                                        "maximum": 2046,
                                        "minimum": 2025,
                                        "type": "number"
                                      }
                                    },
                                    "required": [
                                      "month",
                                      "year"
                                    ]
                                  },
                                  "holderName": {
                                    "description": "Nome do titular do cartão",
                                    "examples": [
                                      "JOAO DA SILVA"
                                    ],
                                    "type": "string"
                                  },
                                  "number": {
                                    "description": "Número do cartão de crédito",
                                    "examples": [
                                      "4242424242424242"
                                    ],
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "cvv",
                                  "expiration",
                                  "holderName",
                                  "number"
                                ]
                              }
                            ]
                          },
                          "installments": {
                            "default": 1,
                            "description": "Número de parcelas",
                            "maximum": 12,
                            "minimum": 1,
                            "anyOf": [
                              {
                                "format": "integer",
                                "default": 0,
                                "type": "string"
                              },
                              {
                                "default": 1,
                                "description": "Número de parcelas",
                                "maximum": 12,
                                "minimum": 1,
                                "type": "integer"
                              }
                            ]
                          },
                          "softDescriptor": {
                            "description": "Texto que aparecerá na fatura do cartão (soft descriptor)",
                            "minLength": 1,
                            "maxLength": 22,
                            "examples": [
                              "PEDRO*TESTE"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "paymentMethod",
                          "card",
                          "installments"
                        ]
                      },
                      {
                        "title": "Boleto",
                        "type": "object",
                        "properties": {
                          "paymentMethod": {
                            "const": "BankSlip",
                            "type": "string"
                          },
                          "expirationInDays": {
                            "default": 7,
                            "description": "Dias até o vencimento do boleto",
                            "examples": [
                              3,
                              7,
                              15
                            ],
                            "minimum": 1,
                            "anyOf": [
                              {
                                "format": "integer",
                                "default": 0,
                                "type": "string"
                              },
                              {
                                "default": 7,
                                "description": "Dias até o vencimento do boleto",
                                "examples": [
                                  3,
                                  7,
                                  15
                                ],
                                "minimum": 1,
                                "type": "integer"
                              }
                            ]
                          }
                        },
                        "required": [
                          "paymentMethod"
                        ]
                      },
                      {
                        "title": "NuPay",
                        "type": "object",
                        "properties": {
                          "paymentMethod": {
                            "const": "NuPay",
                            "type": "string"
                          },
                          "nuPay": {
                            "description": "Dados específicos para pagamento via NuPay",
                            "type": "object",
                            "properties": {
                              "cancelUrl": {
                                "description": "URL de cancelamento do pagamento",
                                "examples": [
                                  "https://example.com/cancel"
                                ],
                                "type": "string"
                              },
                              "merchantName": {
                                "description": "Nome do comerciante",
                                "examples": [
                                  "Minha Loja"
                                ],
                                "type": "string"
                              },
                              "returnUrl": {
                                "description": "URL de retorno após a conclusão do pagamento",
                                "examples": [
                                  "https://example.com/success"
                                ],
                                "type": "string"
                              },
                              "storeName": {
                                "description": "Nome da loja",
                                "examples": [
                                  "Filial Centro"
                                ],
                                "type": "string"
                              }
                            },
                            "required": [
                              "cancelUrl",
                              "merchantName",
                              "returnUrl"
                            ]
                          }
                        },
                        "required": [
                          "paymentMethod",
                          "nuPay"
                        ]
                      },
                      {
                        "title": "PicPay",
                        "type": "object",
                        "properties": {
                          "paymentMethod": {
                            "const": "PicPay",
                            "type": "string"
                          }
                        },
                        "required": [
                          "paymentMethod"
                        ]
                      }
                    ]
                  },
                  "splitAmountTotal": {
                    "description": "Valor total do split a ser pago ao merchant (Sendo usado apenas para fins de relatório, ou seja não gera split real)",
                    "examples": [
                      50
                    ],
                    "minimum": 0,
                    "type": "number"
                  },
                  "session": {
                    "description": "Caso o externalSessionId ou sessionId sejam fornecidos e houver uma sessão existente, ela será atualizada com os novos dados. Caso contrário, uma nova sessão será criada.",
                    "type": "object",
                    "properties": {
                      "expiresInMinutes": {
                        "description": "Tempo em minutos para expiração da sessão do checkout",
                        "default": 30,
                        "minimum": 15,
                        "type": "number"
                      },
                      "checkoutUrl": {
                        "description": "URL do checkout para que possamos redirecionar",
                        "regex": "^(https?:\\/\\/)(www\\.)?([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,}([\\/\\w\\-._~:?#[\\]@!$&'()*+,;=%]*)?$",
                        "type": "string"
                      },
                      "sessionId": {
                        "description": "Id gerado pelo nosso serviço para identificar a sessão de checkout",
                        "type": "string"
                      },
                      "externalSessionId": {
                        "description": "Id da sessão de checkout gerado pelo lado do cliente. O id deve ser único para cada sessão de carrinho",
                        "minLength": 16,
                        "type": "string"
                      }
                    }
                  },
                  "shippingFee": {
                    "default": 0,
                    "description": "Valor do frete",
                    "type": "number"
                  },
                  "taxFee": {
                    "default": 0,
                    "description": "Taxas adicionais",
                    "type": "number"
                  },
                  "metadata": {
                    "description": "Metadados adicionais para o pedido como pares chave-valor. Não deve ter espaços ou caracteres especiais nas chaves",
                    "type": "object",
                    "patternProperties": {
                      "^(.*)$": {
                        "description": "Valor do metadado",
                        "examples": [
                          "merchant@gmail.com"
                        ],
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "chargeAmount",
                  "clientIp",
                  "customer",
                  "discountAmount",
                  "externalId",
                  "payment",
                  "shippingFee",
                  "taxFee"
                ],
                "noValidate": true,
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "ID do pedido no sistema",
                      "examples": [
                        "ord_abc123"
                      ],
                      "type": "string"
                    },
                    "externalId": {
                      "anyOf": [
                        {
                          "description": "ID externo do pedido (fornecido pela sua integração)",
                          "examples": [
                            "pedido_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalIntegrationKey": {
                      "description": "Provedor utilizada para processar o pedido",
                      "examples": [
                        "PagarMe",
                        "Stripe"
                      ],
                      "type": "string"
                    },
                    "externalIntegrationId": {
                      "anyOf": [
                        {
                          "description": "ID do pedido no provedor de pagamento",
                          "examples": [
                            "pedido_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "amount": {
                      "description": "Valor total do pedido",
                      "examples": [
                        150.45
                      ],
                      "type": "number"
                    },
                    "costFee": {
                      "description": "Taxa de custo aplicada ao pedido",
                      "examples": [
                        4.5
                      ],
                      "type": "number"
                    },
                    "pix": {
                      "description": "Dados do PIX",
                      "type": "object",
                      "properties": {
                        "copyAndPasteCode": {
                          "description": "Código copia e cola do PIX",
                          "examples": [
                            "00020126580014br.gov.bcb.pix..."
                          ],
                          "type": "string"
                        },
                        "qrCodeUrl": {
                          "description": "URL da imagem do QR Code PIX",
                          "examples": [
                            "https://example.com/qrcode.png"
                          ],
                          "type": "string"
                        },
                        "endToEndId": {
                          "nullable": true,
                          "anyOf": [
                            {
                              "description": "E2E ID do PIX",
                              "examples": [
                                "E2EID1234567890"
                              ],
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "copyAndPasteCode",
                        "qrCodeUrl",
                        "endToEndId"
                      ]
                    },
                    "bankSlip": {
                      "type": "object",
                      "properties": {
                        "barCode": {
                          "description": "Código de barras do boleto",
                          "examples": [
                            "34191790010104351004791020150008291070026000"
                          ],
                          "type": "string"
                        },
                        "digitableLine": {
                          "description": "Linha digitável do boleto",
                          "examples": [
                            "34191.79001 01043.510047 91020.150008 2 91070026000"
                          ],
                          "type": "string"
                        },
                        "pdfUrl": {
                          "description": "URL do PDF do boleto",
                          "examples": [
                            "https://example.com/boleto.pdf"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "barCode",
                        "digitableLine"
                      ]
                    },
                    "nuPay": {
                      "type": "object",
                      "properties": {
                        "paymentUrl": {
                          "description": "URL de pagamento NuPay",
                          "examples": [
                            "https://nupay.com.br/payment/123456"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "paymentUrl"
                      ]
                    },
                    "picPay": {
                      "type": "object",
                      "properties": {
                        "copyAndPasteCode": {
                          "description": "Código copia e cola do PicPay",
                          "examples": [
                            "picpay.me/loja/abc123"
                          ],
                          "type": "string"
                        },
                        "qrCodeUrl": {
                          "description": "URL da imagem do QR Code PicPay",
                          "examples": [
                            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "copyAndPasteCode",
                        "qrCodeUrl"
                      ]
                    },
                    "creditCard": {
                      "type": "object",
                      "properties": {
                        "authorizationCode": {
                          "description": "Código de autorização da transação",
                          "examples": [
                            "123456"
                          ],
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "Generating",
                        "Pending",
                        "Completed",
                        "Failed",
                        "Canceled",
                        "Refunding",
                        "Refunded",
                        "InDispute",
                        "Chargeback"
                      ]
                    },
                    "paymentMethod": {
                      "type": "string",
                      "enum": [
                        "Pix",
                        "CreditCard",
                        "DebitCard",
                        "BankSlip",
                        "Crypto",
                        "ApplePay",
                        "NuPay",
                        "PicPay",
                        "AmazonPay",
                        "SepaDebit",
                        "GooglePay"
                      ]
                    },
                    "payedAt": {
                      "anyOf": [
                        {
                          "description": "Data e hora em que o pedido foi pago (ISO 8601)",
                          "examples": [
                            "2024-01-01T12:00:00Z"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorCode": {
                      "anyOf": [
                        {
                          "description": "Código de erro, se houver",
                          "examples": [
                            "INSUFFICIENT_FUNDS"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorMessage": {
                      "anyOf": [
                        {
                          "description": "Mensagem de erro, se houver",
                          "examples": [
                            "Saldo insuficiente"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "orderItems": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "anyOf": [
                              {
                                "description": "ID externo do item",
                                "examples": [
                                  "prod_123"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "id": {
                            "description": "ID do item no pedido",
                            "examples": [
                              "item_abc123"
                            ],
                            "type": "string"
                          },
                          "name": {
                            "description": "Nome do produto/serviço",
                            "examples": [
                              "Camisa Polo"
                            ],
                            "type": "string"
                          },
                          "qty": {
                            "description": "Quantidade",
                            "examples": [
                              2
                            ],
                            "type": "number"
                          },
                          "totalAmount": {
                            "description": "Valor total do item (quantidade × preço unitário)",
                            "examples": [
                              200
                            ],
                            "type": "number"
                          },
                          "totalNetAmount": {
                            "description": "Valor líquido total do item",
                            "examples": [
                              180
                            ],
                            "type": "number"
                          },
                          "unityPrice": {
                            "description": "Preço unitário",
                            "examples": [
                              100
                            ],
                            "type": "number"
                          }
                        },
                        "required": [
                          "externalId",
                          "id",
                          "name",
                          "qty",
                          "totalAmount",
                          "totalNetAmount",
                          "unityPrice"
                        ]
                      }
                    },
                    "session": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "sessionId": {
                              "description": "ID da sessão de checkout associada ao pedido",
                              "type": "string"
                            }
                          },
                          "required": [
                            "sessionId"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "externalId",
                    "externalIntegrationKey",
                    "externalIntegrationId",
                    "amount",
                    "costFee",
                    "status",
                    "paymentMethod",
                    "payedAt",
                    "errorCode",
                    "errorMessage",
                    "orderItems"
                  ],
                  "noValidate": true,
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postOrders"
      },
      "get": {
        "tags": [
          "Pedidos"
        ],
        "description": "Recupere uma lista de pedidos. Utilize os parâmetros de filtro de data e paginação para refinar os resultados conforme necessário.",
        "summary": "Listar pedidos",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "default": "Last7Days",
              "description": "Período do filtro de datas",
              "examples": [
                "Last7Days"
              ],
              "type": "string",
              "enum": [
                "Today",
                "Yesterday",
                "Last7Days",
                "Last30Days",
                "ThisMonth",
                "LastMonth",
                "ThisYear",
                "Custom"
              ]
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Data de término para o filtro personalizado (formato AAAA-MM-DDTHH:MM:SSZ)",
              "examples": [
                "2025-01-15T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Data de início para o filtro personalizado (formato AAAA-MM-DDTHH:MM:SSZ)",
              "examples": [
                "2025-01-01T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "default": 1,
              "description": "Número da página",
              "examples": [
                1,
                2,
                3
              ],
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "default": 20,
              "description": "Número de itens por página",
              "examples": [
                10,
                20,
                50
              ],
              "maximum": 100,
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ID interno sendo do pedido ou do charge",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Generating",
                "Pending",
                "Completed",
                "Failed",
                "Canceled",
                "Refunding",
                "Refunded",
                "InDispute",
                "Chargeback"
              ]
            }
          }
        ],
        "operationId": "getOrders"
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Pedidos"
        ],
        "description": "Localize os dados completos de um pedido buscando pelo nosso id",
        "summary": "Buscar pelo ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getOrdersById"
      }
    },
    "/orders/{id}/refund": {
      "post": {
        "tags": [
          "Pedidos"
        ],
        "description": "Inicie um reembolso para o pedido especificado pelo ID.",
        "summary": "Reembolsar pedido",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "postOrdersByIdRefund"
      }
    },
    "/withdraws/": {
      "post": {
        "tags": [
          "Saques e Transferências"
        ],
        "description": "Realiza um novo saque ou transferência para a conta de pagamento informada",
        "summary": "Cria saque",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "description": "Valor do saque em centavos",
                    "minimum": 1,
                    "type": "number"
                  },
                  "externalId": {
                    "description": "ID do saque no seu sistema",
                    "examples": [
                      "external_withdraw_123"
                    ],
                    "type": "string"
                  },
                  "merchant": {
                    "description": "Dados do merchant para pedido ou saque",
                    "title": "MerchantInput",
                    "type": "object",
                    "properties": {
                      "document": {
                        "description": "CPF ou CNPJ do merchant sem formatação",
                        "examples": [
                          "12345678909",
                          "12345678000195"
                        ],
                        "pattern": "^\\d{11}$|^\\d{14}$",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email do merchant",
                        "examples": [
                          "merchant@example.com"
                        ],
                        "format": "email",
                        "type": "string"
                      },
                      "name": {
                        "description": "Nome do merchant",
                        "examples": [
                          "Loja do João"
                        ],
                        "maxLength": 255,
                        "minLength": 2,
                        "type": "string"
                      }
                    },
                    "required": [
                      "document",
                      "email",
                      "name"
                    ]
                  },
                  "payoutAccount": {
                    "type": "object",
                    "properties": {
                      "ownerDocument": {
                        "description": "Documento do titular da conta (CPF ou CNPJ)",
                        "type": "string"
                      },
                      "ownerName": {
                        "description": "Nome do titular da conta",
                        "type": "string"
                      },
                      "pixKey": {
                        "description": "PIX key for withdrawal",
                        "type": "string"
                      },
                      "pixType": {
                        "default": "Cnpj",
                        "description": "PIX key type",
                        "type": "string",
                        "enum": [
                          "Cnpj",
                          "Cpf",
                          "Email",
                          "Phone",
                          "Random"
                        ]
                      }
                    },
                    "required": [
                      "ownerDocument",
                      "ownerName",
                      "pixKey",
                      "pixType"
                    ]
                  }
                },
                "required": [
                  "amount",
                  "payoutAccount"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Identificador único do saque",
                      "examples": [
                        "wd_1234567890"
                      ],
                      "type": "string"
                    },
                    "externalId": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "ID do saque no sistema no seu sistema",
                          "examples": [
                            "external_withdraw_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalIntegrationKey": {
                      "description": "Chave do provedor utilizado para o saque",
                      "examples": [
                        "PagarMe",
                        "Asaas"
                      ],
                      "type": "string"
                    },
                    "externalIntegrationId": {
                      "anyOf": [
                        {
                          "description": "ID do saque no provedor de pagamento",
                          "examples": [
                            "withdraw_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "costFee": {
                      "description": "Taxa de custo aplicada ao saque",
                      "examples": [
                        4.5
                      ],
                      "type": "number"
                    },
                    "status": {
                      "default": "Pending",
                      "description": "Status do saque",
                      "examples": [
                        "Pending",
                        "Completed"
                      ],
                      "type": "string",
                      "enum": [
                        "Pending",
                        "Transferring",
                        "Completed",
                        "Failed"
                      ]
                    },
                    "errorCode": {
                      "anyOf": [
                        {
                          "description": "Código do erro, se houver",
                          "examples": [
                            "insufficient_funds",
                            "invalid_account"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorMessage": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "description": "Mensagem descritiva do erro, se houver",
                          "examples": [
                            "Saldo insuficiente para completar o saque",
                            "Conta bancária inválida"
                          ],
                          "type": "string"
                        }
                      ]
                    },
                    "payedAt": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "description": "Data e hora em que o saque foi pago (formato ISO 8601)",
                          "examples": [
                            "2024-01-01T12:00:00Z"
                          ],
                          "anyOf": [
                            {
                              "description": "Data e hora em que o saque foi pago (formato ISO 8601)",
                              "examples": [
                                "2024-01-01T12:00:00Z"
                              ],
                              "type": "Date"
                            },
                            {
                              "format": "date-time",
                              "type": "string"
                            },
                            {
                              "format": "date",
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "payoutAccount": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Identificador único da conta de pagamento",
                          "examples": [
                            "pa_1234567890"
                          ],
                          "type": "string"
                        },
                        "ownerDocument": {
                          "description": "Documento do titular da conta (CPF ou CNPJ)",
                          "examples": [
                            "12345678909",
                            "12345678000195"
                          ],
                          "pattern": "^\\d{11}$|^\\d{14}$",
                          "type": "string"
                        },
                        "ownerName": {
                          "description": "Nome do titular da conta",
                          "examples": [
                            "João da Silva",
                            "Empresa XYZ Ltda"
                          ],
                          "type": "string"
                        },
                        "pixKey": {
                          "description": "Chave PIX utilizada para o saque",
                          "examples": [
                            "joao@example.com",
                            "11999999999"
                          ],
                          "type": "string"
                        },
                        "pixType": {
                          "default": "Cpf",
                          "description": "Tipo da chave PIX",
                          "examples": [
                            "Email",
                            "Cpf"
                          ],
                          "type": "string",
                          "enum": [
                            "Cpf",
                            "Cnpj",
                            "Email",
                            "Phone",
                            "Random"
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "ownerDocument",
                        "ownerName",
                        "pixKey",
                        "pixType"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "externalId",
                    "externalIntegrationKey",
                    "externalIntegrationId",
                    "costFee",
                    "status",
                    "errorCode",
                    "errorMessage",
                    "payedAt",
                    "payoutAccount"
                  ],
                  "noValidate": true,
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postWithdraws"
      },
      "get": {
        "tags": [
          "Saques e Transferências"
        ],
        "description": "Retorna uma lista paginada de saques e transferências. Permite filtrar por data de criação ou buscar por ID (ID do saque, ID externo, ID da adquirente ou End2EndID)",
        "summary": "Lista os saques",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": true,
            "schema": {
              "default": "Last7Days",
              "description": "Período do filtro de datas",
              "examples": [
                "Last7Days"
              ],
              "type": "string",
              "enum": [
                "Today",
                "Yesterday",
                "Last7Days",
                "Last30Days",
                "ThisMonth",
                "LastMonth",
                "ThisYear",
                "Custom"
              ]
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Data de término para o filtro personalizado (formato AAAA-MM-DDTHH:MM:SSZ)",
              "examples": [
                "2025-01-15T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Data de início para o filtro personalizado (formato AAAA-MM-DDTHH:MM:SSZ)",
              "examples": [
                "2025-01-01T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "default": 1,
              "description": "Número da página",
              "examples": [
                1,
                2,
                3
              ],
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "default": 20,
              "description": "Número de itens por página",
              "examples": [
                10,
                20,
                50
              ],
              "maximum": 100,
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "ID de busca do saque (pode ser ID do saque, ID externo, ID da adquirente ou End2EndID)",
              "type": "string"
            }
          }
        ],
        "operationId": "getWithdraws"
      }
    },
    "/withdraws/{id}": {
      "get": {
        "tags": [
          "Saques e Transferências"
        ],
        "description": "Retorna os detalhes de um saque ou transferência específico usando seu ID",
        "summary": "Buscar pelo ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getWithdrawsById"
      }
    }
  }
}