openapi: 3.0.3
info:
  title: PayConductor API
  description: |-
    PayConductor API Documentation.

    This documentation covers all available features in the PayConductor RESTful API, including authentication, resource management, and usage examples.

    <br />

    <br />

    ----

    <br />


    # Authentication

    PayConductor API uses HTTP Basic authentication to validate requests. You need to provide your credentials (Client ID and Client Secret) in the `client:secret` format encoded in Base64.

    <br />

    ## Getting Credentials

    1. Access the PayConductor admin panel
    2. Navigate to **Settings > API Keys**
    3. Generate a new credentials pair (Client ID and Client Secret)
    4. Store the Client Secret in a secure location - it will not be displayed again

    <br />

    ## Authentication Format

    Credentials must be sent in the `Authorization` header using the Basic scheme:

    ```
    Authorization: Basic base64(client_id:client_secret)
    ```

    <br />

    ## Node.js Example

    ```javascript
    const clientId = 'your_client_id';
    const clientSecret = 'your_client_secret';

    // Encode credentials in Base64
    const credentials = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');

    const response = await fetch('https://api.payconductor.com/api/v1/orders', {
      method: 'GET',
      headers: {
        'Authorization': `Basic ${credentials}`,
        'Content-Type': 'application/json'
      }
    });

    const data = await response.json();
    console.log(data);
    ```

    <br />

    ## Authentication Errors

    | Code | Description |
    |------|-------------|
    | `401` | Invalid or missing credentials |
    | `403` | Valid credentials but no permission for the resource |
    | `429` | Too many requests (rate limit exceeded) |

    ### Error Response Example

    ```json
    {
      "error": {
        "code": "UNAUTHORIZED",
        "message": "Invalid credentials",
        "details": "The provided client ID or secret is incorrect"
      }
    }
    ```
  version: 1.0.0
servers:
  - url: 'https://app.payconductor.ai/api/v1'
paths:
  /orders/:
    post:
      operationId: postOrders
      summary: Create order
      description: Create a new order for payment using the provided data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chargeAmount:
                  description: Total amount to be charged on the order in floating point value
                  type: number
                  examples:
                    - 150
                clientIp:
                  description: Client IP address
                  type: string
                  examples:
                    - 192.168.0.1
                customer:
                  description: Schema for creating a new customer
                  type: object
                  properties:
                    address:
                      description: Schema for creating a new address
                      type: object
                      properties:
                        city:
                          description: City name
                          type: string
                          examples:
                            - São Paulo
                            - Rio de Janeiro
                        country:
                          description: Country code in ISO 3166-1 alpha-2 format
                          type: string
                          default: BR
                          examples:
                            - BR
                            - US
                          maxLength: 2
                          minLength: 2
                        neighborhood:
                          description: Neighborhood name
                          type: string
                          examples:
                            - Downtown
                            - Jardins
                        number:
                          description: Address number
                          type: string
                          examples:
                            - '1000'
                            - '150'
                        state:
                          description: State code in ISO 3166-2 format
                          type: string
                          examples:
                            - SP
                            - RJ
                          maxLength: 2
                          minLength: 2
                        street:
                          description: Street name
                          type: string
                          examples:
                            - Av. Paulista
                            - Rua das Flores
                        zipCode:
                          description: ZIP code without formatting
                          type: string
                          examples:
                            - '01311200'
                            - '20040002'
                      required:
                        - city
                        - country
                        - neighborhood
                        - number
                        - state
                        - street
                        - zipCode
                      title: Customer address
                    documentNumber:
                      description: Customer CPF or CNPJ without formatting
                      type: string
                      examples:
                        - '12345678909'
                        - '12345678000195'
                      pattern: '^\d{11}$|^\d{14}$'
                    documentType:
                      type: string
                      enum:
                        - Cpf
                        - Cnpj
                    email:
                      description: Customer email
                      type: string
                      format: email
                      examples:
                        - customer@example.com
                    name:
                      description: Customer full name
                      type: string
                      examples:
                        - John Doe
                    phoneNumber:
                      description: Customer phone number in +55 DD 9XXXXXXXX format
                      type: string
                      error: 'Invalid phone number format. Expected format: +55 DD 9XXXXXXXX'
                      examples:
                        - +55 11 987654321
                      pattern: '^\+(\d{1,2}) (\d{2}) (\d{8,9})$'
                  required:
                    - documentNumber
                    - documentType
                    - email
                    - name
                  title: Customer
                discountAmount:
                  description: Discount amount
                  type: number
                  default: 0
                externalId:
                  description: Order ID in your system
                  type: string
                  examples:
                    - your_id_12345
                fingerprints:
                  type: object
                  properties:
                    threatMetrixFingerprintId:
                      description: ThreatMetrix fingerprint ID for fraud analysis
                      type: string
                      examples:
                        - tmx_fingerprint_abc123
                items:
                  description: List of products or services in the order
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: Product or service ID in your system
                        type: string
                        examples:
                          - prod_123
                          - serv_456
                      isPhysical:
                        description: Defines if the item is a physical product or a service
                        type: boolean
                        default: false
                        examples:
                          - true
                          - false
                      name:
                        description: Product or service name
                        type: string
                        examples:
                          - Polo Shirt
                          - Service Payment
                      qty:
                        description: Quantity of the product or service
                        type: number
                        examples:
                          - 1
                      unitPrice:
                        description: Unit price
                        type: number
                        examples:
                          - 100
                    required:
                      - id
                      - isPhysical
                      - name
                      - qty
                      - unitPrice
                  maxItems: 20
                merchant:
                  description: Merchant data for order or withdrawal
                  type: object
                  properties:
                    document:
                      description: Merchant CPF or CNPJ without formatting
                      type: string
                      examples:
                        - '12345678909'
                        - '12345678000195'
                      pattern: '^\d{11}$|^\d{14}$'
                    email:
                      description: Merchant email
                      type: string
                      format: email
                      examples:
                        - merchant@example.com
                    name:
                      description: Merchant name
                      type: string
                      examples:
                        - John's Store
                      maxLength: 255
                      minLength: 2
                  required:
                    - document
                    - email
                    - name
                  title: MerchantInput
                payment:
                  description: 'Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)'
                  anyOf:
                    - title: Pix
                      type: object
                      properties:
                        paymentMethod:
                          type: string
                          const: Pix
                        expirationInSeconds:
                          description: PIX expiration time in seconds
                          default: 3600
                          anyOf:
                            - format: integer
                              default: 0
                              type: string
                            - default: 3600
                              description: PIX expiration time in seconds
                              examples:
                                - 3600
                                - 86400
                              minimum: 3600
                              type: integer
                          examples:
                            - 3600
                            - 86400
                          minimum: 3600
                      required:
                        - paymentMethod
                    - title: Credit Card
                      type: object
                      properties:
                        paymentMethod:
                          type: string
                          const: CreditCard
                        card:
                          anyOf:
                            - title: Tokenized card
                              type: object
                              properties:
                                firstSixCardNumber:
                                  description: First 6 digits of the credit card
                                  type: string
                                  examples:
                                    - '411111'
                                token:
                                  description: Previously generated credit card token
                                  type: string
                              required:
                                - token
                            - title: Complete card data
                              type: object
                              properties:
                                cvv:
                                  description: Card security code (CVV)
                                  type: string
                                  examples:
                                    - '123'
                                    - '1234'
                                  maxLength: 4
                                  minLength: 3
                                expiration:
                                  type: object
                                  properties:
                                    month:
                                      description: Card expiration month
                                      type: number
                                      examples:
                                        - 1
                                        - 12
                                      maximum: 12
                                      minimum: 1
                                    year:
                                      description: Card expiration year
                                      type: number
                                      examples:
                                        - 2030
                                      maximum: 2046
                                      minimum: 2025
                                  required:
                                    - month
                                    - year
                                holderName:
                                  description: Card holder name
                                  type: string
                                  examples:
                                    - JOHN DOE
                                number:
                                  description: Credit card number
                                  type: string
                                  examples:
                                    - '4242424242424242'
                              required:
                                - cvv
                                - expiration
                                - holderName
                                - number
                        installments:
                          description: Number of installments
                          default: 1
                          anyOf:
                            - format: integer
                              default: 0
                              type: string
                            - default: 1
                              description: Number of installments
                              maximum: 12
                              minimum: 1
                              type: integer
                          maximum: 12
                          minimum: 1
                        softDescriptor:
                          description: Text that will appear on the card statement (soft descriptor)
                          type: string
                          examples:
                            - PEDRO*TESTE
                          maxLength: 22
                          minLength: 1
                      required:
                        - paymentMethod
                        - card
                        - installments
                    - title: Bank Slip
                      type: object
                      properties:
                        paymentMethod:
                          type: string
                          const: BankSlip
                        expirationInDays:
                          description: Days until bank slip expires
                          default: 7
                          anyOf:
                            - format: integer
                              default: 0
                              type: string
                            - default: 7
                              description: Days until bank slip expires
                              examples:
                                - 3
                                - 7
                                - 15
                              minimum: 1
                              type: integer
                          examples:
                            - 3
                            - 7
                            - 15
                          minimum: 1
                      required:
                        - paymentMethod
                    - title: NuPay
                      type: object
                      properties:
                        paymentMethod:
                          type: string
                          const: NuPay
                        nuPay:
                          description: Specific data for NuPay payment
                          type: object
                          properties:
                            cancelUrl:
                              description: Payment cancellation URL
                              type: string
                              examples:
                                - 'https://example.com/cancel'
                            merchantName:
                              description: Merchant name
                              type: string
                              examples:
                                - My Store
                            returnUrl:
                              description: Return URL after payment completion
                              type: string
                              examples:
                                - 'https://example.com/success'
                            storeName:
                              description: Store name
                              type: string
                              examples:
                                - Downtown Branch
                          required:
                            - cancelUrl
                            - merchantName
                            - returnUrl
                      required:
                        - paymentMethod
                        - nuPay
                    - title: PicPay
                      type: object
                      properties:
                        paymentMethod:
                          type: string
                          const: PicPay
                      required:
                        - paymentMethod
                splitAmountTotal:
                  description: 'Total split amount to be paid to the merchant (Used only for reporting purposes, does not generate actual split)'
                  type: number
                  examples:
                    - 50
                  minimum: 0
                session:
                  description: 'If externalSessionId or sessionId is provided and an existing session exists, it will be updated with the new data. Otherwise, a new session will be created.'
                  type: object
                  properties:
                    expiresInMinutes:
                      description: Time in minutes for checkout session expiration
                      type: number
                      default: 30
                      minimum: 15
                    checkoutUrl:
                      description: Checkout URL for redirection
                      type: string
                      regex: '^(https?:\/\/)(www\.)?([a-zA-Z0-9-]+\.)+[a-zA-Z]{2,}([\/\w\-._~:?#[\]@!$&''()*+,;=%]*)?$'
                    sessionId:
                      description: ID generated by our service to identify the checkout session
                      type: string
                    externalSessionId:
                      description: Checkout session ID generated by the client side. The ID must be unique for each cart session
                      type: string
                      minLength: 16
                shippingFee:
                  description: Shipping fee
                  type: number
                  default: 0
                taxFee:
                  description: Additional fees
                  type: number
                  default: 0
                metadata:
                  description: Additional metadata for the order as key-value pairs. Keys should not contain spaces or special characters
                  type: object
                  patternProperties:
                    ^(.*)$:
                      description: Metadata value
                      examples:
                        - merchant@gmail.com
                      type: string
              additionalProperties: false
              noValidate: true
              required:
                - chargeAmount
                - clientIp
                - customer
                - discountAmount
                - externalId
                - payment
                - shippingFee
                - taxFee
      responses:
        '200':
          description: Response for status 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Order ID in the system
                    type: string
                    examples:
                      - ord_abc123
                  externalId:
                    anyOf:
                      - description: External order ID (provided by your integration)
                        examples:
                          - order_123
                        type: string
                      - type: 'null'
                  externalIntegrationKey:
                    description: Provider used to process the order
                    type: string
                    examples:
                      - PagarMe
                      - Stripe
                  externalIntegrationId:
                    anyOf:
                      - description: Order ID in the payment provider
                        examples:
                          - order_123
                        type: string
                      - type: 'null'
                  amount:
                    description: Total order amount
                    type: number
                    examples:
                      - 150.45
                  costFee:
                    description: Cost fee applied to the order
                    type: number
                    examples:
                      - 4.5
                  pix:
                    description: PIX data
                    type: object
                    properties:
                      copyAndPasteCode:
                        description: PIX copy and paste code
                        type: string
                        examples:
                          - 00020126580014br.gov.bcb.pix...
                      qrCodeUrl:
                        description: PIX QR Code image URL
                        type: string
                        examples:
                          - 'https://example.com/qrcode.png'
                      endToEndId:
                        anyOf:
                          - description: PIX E2E ID
                            examples:
                              - E2EID1234567890
                            type: string
                          - type: 'null'
                        nullable: true
                    required:
                      - copyAndPasteCode
                      - qrCodeUrl
                      - endToEndId
                  bankSlip:
                    type: object
                    properties:
                      barCode:
                        description: Bank slip bar code
                        type: string
                        examples:
                          - '34191790010104351004791020150008291070026000'
                      digitableLine:
                        description: Bank slip digitable line
                        type: string
                        examples:
                          - 34191.79001 01043.510047 91020.150008 2 91070026000
                      pdfUrl:
                        description: Bank slip PDF URL
                        type: string
                        examples:
                          - 'https://example.com/boleto.pdf'
                    required:
                      - barCode
                      - digitableLine
                  nuPay:
                    type: object
                    properties:
                      paymentUrl:
                        description: NuPay payment URL
                        type: string
                        examples:
                          - 'https://nupay.com.br/payment/123456'
                    required:
                      - paymentUrl
                  picPay:
                    type: object
                    properties:
                      copyAndPasteCode:
                        description: PicPay copy and paste code
                        type: string
                        examples:
                          - picpay.me/store/abc123
                      qrCodeUrl:
                        description: PicPay QR Code image URL
                        type: string
                        examples:
                          - 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...'
                    required:
                      - copyAndPasteCode
                      - qrCodeUrl
                  creditCard:
                    type: object
                    properties:
                      authorizationCode:
                        description: Transaction authorization code
                        type: string
                        examples:
                          - '123456'
                  status:
                    type: string
                    enum:
                      - Generating
                      - Pending
                      - Completed
                      - Failed
                      - Canceled
                      - Refunding
                      - Refunded
                      - InDispute
                      - Chargeback
                  paymentMethod:
                    type: string
                    enum:
                      - Pix
                      - CreditCard
                      - DebitCard
                      - BankSlip
                      - Crypto
                      - ApplePay
                      - NuPay
                      - PicPay
                      - AmazonPay
                      - SepaDebit
                      - GooglePay
                  payedAt:
                    anyOf:
                      - description: Date and time when the order was paid (ISO 8601)
                        examples:
                          - '2024-01-01T12:00:00Z'
                        type: string
                      - type: 'null'
                  errorCode:
                    anyOf:
                      - description: 'Error code, if any'
                        examples:
                          - INSUFFICIENT_FUNDS
                        type: string
                      - type: 'null'
                  errorMessage:
                    anyOf:
                      - description: 'Error message, if any'
                        examples:
                          - Insufficient funds
                        type: string
                      - type: 'null'
                  orderItems:
                    type: array
                    items:
                      type: object
                      properties:
                        externalId:
                          anyOf:
                            - description: External item ID
                              examples:
                                - prod_123
                              type: string
                            - type: 'null'
                        id:
                          description: Item ID in the order
                          type: string
                          examples:
                            - item_abc123
                        name:
                          description: Product/service name
                          type: string
                          examples:
                            - Polo Shirt
                        qty:
                          description: Quantity
                          type: number
                          examples:
                            - 2
                        totalAmount:
                          description: Total item amount (quantity × unit price)
                          type: number
                          examples:
                            - 200
                        totalNetAmount:
                          description: Total net amount of the item
                          type: number
                          examples:
                            - 180
                        unityPrice:
                          description: Unit price
                          type: number
                          examples:
                            - 100
                      required:
                        - externalId
                        - id
                        - name
                        - qty
                        - totalAmount
                        - totalNetAmount
                        - unityPrice
                  session:
                    anyOf:
                      - type: object
                        properties:
                          sessionId:
                            description: ID of the checkout session associated with the order
                            type: string
                        required:
                          - sessionId
                      - type: 'null'
                    nullable: true
                additionalProperties: false
                noValidate: true
                required:
                  - id
                  - externalId
                  - externalIntegrationKey
                  - externalIntegrationId
                  - amount
                  - costFee
                  - status
                  - paymentMethod
                  - payedAt
                  - errorCode
                  - errorMessage
                  - orderItems
      tags:
        - Orders
    get:
      operationId: getOrders
      summary: List orders
      description: Retrieve a list of orders. Use date filter and pagination parameters to refine results as needed.
      parameters:
        - name: period
          in: query
          required: true
          schema:
            description: Date filter period
            type: string
            default: Last7Days
            enum:
              - Today
              - Yesterday
              - Last7Days
              - Last30Days
              - ThisMonth
              - LastMonth
              - ThisYear
              - Custom
            examples:
              - Last7Days
        - name: endDate
          in: query
          required: false
          schema:
            description: 'End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)'
            type: string
            format: date-time
            examples:
              - '2025-01-15T03:00:00Z'
        - name: startDate
          in: query
          required: false
          schema:
            description: 'Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)'
            type: string
            format: date-time
            examples:
              - '2025-01-01T03:00:00Z'
        - name: page
          in: query
          required: true
          schema:
            description: Page number
            type: number
            default: 1
            examples:
              - 1
              - 2
              - 3
            minimum: 1
            multipleOf: 1
        - name: pageSize
          in: query
          required: true
          schema:
            description: Number of items per page
            type: number
            default: 20
            examples:
              - 10
              - 20
              - 50
            maximum: 100
            minimum: 1
            multipleOf: 1
        - name: id
          in: query
          required: false
          schema:
            description: Internal ID of the order or charge
            type: string
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum:
              - Generating
              - Pending
              - Completed
              - Failed
              - Canceled
              - Refunding
              - Refunded
              - InDispute
              - Chargeback
      tags:
        - Orders
  '/orders/{id}':
    get:
      operationId: getOrdersById
      summary: Get order by ID
      description: Retrieve the complete data of an order by our ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Orders
  '/orders/{id}/refund':
    post:
      operationId: postOrdersByIdRefund
      summary: Refund order
      description: Initiate a refund for the order specified by ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Orders
  /withdraws/:
    post:
      operationId: postWithdraws
      summary: Create withdrawal
      description: Create a new withdrawal or transfer to the provided payment account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  description: Withdrawal amount in cents
                  type: number
                  minimum: 1
                externalId:
                  description: Withdrawal ID in your system
                  type: string
                  examples:
                    - external_withdraw_123
                merchant:
                  description: Merchant data for order or withdrawal
                  type: object
                  properties:
                    document:
                      description: Merchant CPF or CNPJ without formatting
                      type: string
                      examples:
                        - '12345678909'
                        - '12345678000195'
                      pattern: '^\d{11}$|^\d{14}$'
                    email:
                      description: Merchant email
                      type: string
                      format: email
                      examples:
                        - merchant@example.com
                    name:
                      description: Merchant name
                      type: string
                      examples:
                        - John's Store
                      maxLength: 255
                      minLength: 2
                  required:
                    - document
                    - email
                    - name
                  title: MerchantInput
                payoutAccount:
                  type: object
                  properties:
                    ownerDocument:
                      description: Account holder document (CPF or CNPJ)
                      type: string
                    ownerName:
                      description: Account holder name
                      type: string
                    pixKey:
                      description: PIX key for withdrawal
                      type: string
                    pixType:
                      description: PIX key type
                      type: string
                      default: Cnpj
                      enum:
                        - Cnpj
                        - Cpf
                        - Email
                        - Phone
                        - Random
                  required:
                    - ownerDocument
                    - ownerName
                    - pixKey
                    - pixType
              required:
                - amount
                - payoutAccount
      responses:
        '200':
          description: Response for status 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Unique withdrawal identifier
                    type: string
                    examples:
                      - wd_1234567890
                  externalId:
                    anyOf:
                      - description: Withdrawal ID in your system
                        examples:
                          - external_withdraw_123
                        type: string
                      - type: 'null'
                    nullable: true
                  externalIntegrationKey:
                    description: Provider key used for the withdrawal
                    type: string
                    examples:
                      - PagarMe
                      - Asaas
                  externalIntegrationId:
                    anyOf:
                      - description: Withdrawal ID in the payment provider
                        examples:
                          - withdraw_123
                        type: string
                      - type: 'null'
                  costFee:
                    description: Cost fee applied to the withdrawal
                    type: number
                    examples:
                      - 4.5
                  status:
                    description: Withdrawal status
                    type: string
                    default: Pending
                    enum:
                      - Pending
                      - Transferring
                      - Completed
                      - Failed
                    examples:
                      - Pending
                      - Completed
                  errorCode:
                    anyOf:
                      - description: 'Error code, if any'
                        examples:
                          - insufficient_funds
                          - invalid_account
                        type: string
                      - type: 'null'
                  errorMessage:
                    anyOf:
                      - type: 'null'
                      - description: 'Descriptive error message, if any'
                        examples:
                          - Insufficient balance to complete withdrawal
                          - Invalid bank account
                        type: string
                  payedAt:
                    anyOf:
                      - type: 'null'
                      - description: Date and time when the withdrawal was paid (ISO 8601 format)
                        examples:
                          - '2024-01-01T12:00:00Z'
                        anyOf:
                          - description: Date and time when the withdrawal was paid (ISO 8601 format)
                            examples:
                              - '2024-01-01T12:00:00Z'
                            type: Date
                          - format: date-time
                            type: string
                          - format: date
                            type: string
                          - type: number
                  payoutAccount:
                    type: object
                    properties:
                      id:
                        description: Unique payment account identifier
                        type: string
                        examples:
                          - pa_1234567890
                      ownerDocument:
                        description: Account holder document (CPF or CNPJ)
                        type: string
                        examples:
                          - '12345678909'
                          - '12345678000195'
                        pattern: '^\d{11}$|^\d{14}$'
                      ownerName:
                        description: Account holder name
                        type: string
                        examples:
                          - John Doe
                          - Company XYZ Ltda
                      pixKey:
                        description: PIX key used for the withdrawal
                        type: string
                        examples:
                          - john@example.com
                          - '11999999999'
                      pixType:
                        description: PIX key type
                        type: string
                        default: Cpf
                        enum:
                          - Cpf
                          - Cnpj
                          - Email
                          - Phone
                          - Random
                        examples:
                          - Email
                          - Cpf
                    required:
                      - id
                      - ownerDocument
                      - ownerName
                      - pixKey
                      - pixType
                noValidate: true
                required:
                  - id
                  - externalId
                  - externalIntegrationKey
                  - externalIntegrationId
                  - costFee
                  - status
                  - errorCode
                  - errorMessage
                  - payedAt
                  - payoutAccount
      tags:
        - Withdrawals and Transfers
    get:
      operationId: getWithdraws
      summary: List withdrawals
      description: 'Returns a paginated list of withdrawals and transfers. Filter by creation date or search by ID (withdrawal ID, external ID, acquirer ID, or End2EndID)'
      parameters:
        - name: period
          in: query
          required: true
          schema:
            description: Date filter period
            type: string
            default: Last7Days
            enum:
              - Today
              - Yesterday
              - Last7Days
              - Last30Days
              - ThisMonth
              - LastMonth
              - ThisYear
              - Custom
            examples:
              - Last7Days
        - name: endDate
          in: query
          required: false
          schema:
            description: 'End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)'
            type: string
            format: date-time
            examples:
              - '2025-01-15T03:00:00Z'
        - name: startDate
          in: query
          required: false
          schema:
            description: 'Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)'
            type: string
            format: date-time
            examples:
              - '2025-01-01T03:00:00Z'
        - name: page
          in: query
          required: true
          schema:
            description: Page number
            type: number
            default: 1
            examples:
              - 1
              - 2
              - 3
            minimum: 1
            multipleOf: 1
        - name: pageSize
          in: query
          required: true
          schema:
            description: Number of items per page
            type: number
            default: 20
            examples:
              - 10
              - 20
              - 50
            maximum: 100
            minimum: 1
            multipleOf: 1
        - name: id
          in: query
          required: false
          schema:
            description: 'Withdrawal search ID (can be withdrawal ID, external ID, acquirer ID, or End2EndID)'
            type: string
      tags:
        - Withdrawals and Transfers
  '/withdraws/{id}':
    get:
      operationId: getWithdrawsById
      summary: Get withdrawal by ID
      description: Returns the details of a specific withdrawal or transfer using its ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Withdrawals and Transfers
  /customers/:
    get:
      operationId: getCustomers
      parameters:
        - name: email
          in: query
          required: false
          schema:
            type: string
            format: email
        - name: name
          in: query
          required: false
          schema:
            type: string
            maxLength: 255
            minLength: 1
        - name: page
          in: query
          required: true
          schema:
            description: Page number
            type: number
            default: 1
            examples:
              - 1
              - 2
              - 3
            minimum: 1
            multipleOf: 1
        - name: pageSize
          in: query
          required: true
          schema:
            description: Number of items per page
            type: number
            default: 20
            examples:
              - 10
              - 20
              - 50
            maximum: 100
            minimum: 1
            multipleOf: 1
        - name: period
          in: query
          required: true
          schema:
            description: Date filter period
            type: string
            default: Last7Days
            enum:
              - Today
              - Yesterday
              - Last7Days
              - Last30Days
              - ThisMonth
              - LastMonth
              - ThisYear
              - Custom
            examples:
              - Last7Days
        - name: endDate
          in: query
          required: false
          schema:
            description: 'End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)'
            type: string
            format: date-time
            examples:
              - '2025-01-15T03:00:00Z'
        - name: startDate
          in: query
          required: false
          schema:
            description: 'Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)'
            type: string
            format: date-time
            examples:
              - '2025-01-01T03:00:00Z'
      tags:
        - Customers
    post:
      operationId: postCustomers
      requestBody:
        description: Schema for creating a new customer
        required: true
        content:
          application/json:
            schema:
              description: Schema for creating a new customer
              type: object
              properties:
                address:
                  description: Schema for creating a new address
                  type: object
                  properties:
                    city:
                      description: City name
                      type: string
                      examples:
                        - São Paulo
                        - Rio de Janeiro
                    country:
                      description: Country code in ISO 3166-1 alpha-2 format
                      type: string
                      default: BR
                      examples:
                        - BR
                        - US
                      maxLength: 2
                      minLength: 2
                    neighborhood:
                      description: Neighborhood name
                      type: string
                      examples:
                        - Downtown
                        - Jardins
                    number:
                      description: Address number
                      type: string
                      examples:
                        - '1000'
                        - '150'
                    state:
                      description: State code in ISO 3166-2 format
                      type: string
                      examples:
                        - SP
                        - RJ
                      maxLength: 2
                      minLength: 2
                    street:
                      description: Street name
                      type: string
                      examples:
                        - Av. Paulista
                        - Rua das Flores
                    zipCode:
                      description: ZIP code without formatting
                      type: string
                      examples:
                        - '01311200'
                        - '20040002'
                  required:
                    - city
                    - country
                    - neighborhood
                    - number
                    - state
                    - street
                    - zipCode
                  title: Customer address
                documentNumber:
                  description: Customer CPF or CNPJ without formatting
                  type: string
                  examples:
                    - '12345678909'
                    - '12345678000195'
                  pattern: '^\d{11}$|^\d{14}$'
                documentType:
                  type: string
                  enum:
                    - Cpf
                    - Cnpj
                email:
                  description: Customer email
                  type: string
                  format: email
                  examples:
                    - customer@example.com
                name:
                  description: Customer full name
                  type: string
                  examples:
                    - John Doe
                phoneNumber:
                  description: Customer phone number in +55 DD 9XXXXXXXX format
                  type: string
                  error: 'Invalid phone number format. Expected format: +55 DD 9XXXXXXXX'
                  examples:
                    - +55 11 987654321
                  pattern: '^\+(\d{1,2}) (\d{2}) (\d{8,9})$'
              required:
                - documentNumber
                - documentType
                - email
                - name
              title: Customer
      tags:
        - Customers
  '/customers/{id}':
    get:
      operationId: getCustomersById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Customers
    patch:
      operationId: patchCustomersById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Schema for creating a new customer
        required: true
        content:
          application/json:
            schema:
              description: Schema for creating a new customer
              type: object
              properties:
                address:
                  description: Schema for creating a new address
                  type: object
                  properties:
                    city:
                      description: City name
                      type: string
                      examples:
                        - São Paulo
                        - Rio de Janeiro
                    country:
                      description: Country code in ISO 3166-1 alpha-2 format
                      type: string
                      default: BR
                      examples:
                        - BR
                        - US
                      maxLength: 2
                      minLength: 2
                    neighborhood:
                      description: Neighborhood name
                      type: string
                      examples:
                        - Downtown
                        - Jardins
                    number:
                      description: Address number
                      type: string
                      examples:
                        - '1000'
                        - '150'
                    state:
                      description: State code in ISO 3166-2 format
                      type: string
                      examples:
                        - SP
                        - RJ
                      maxLength: 2
                      minLength: 2
                    street:
                      description: Street name
                      type: string
                      examples:
                        - Av. Paulista
                        - Rua das Flores
                    zipCode:
                      description: ZIP code without formatting
                      type: string
                      examples:
                        - '01311200'
                        - '20040002'
                  required:
                    - city
                    - country
                    - neighborhood
                    - number
                    - state
                    - street
                    - zipCode
                  title: Customer address
                documentNumber:
                  description: Customer CPF or CNPJ without formatting
                  type: string
                  examples:
                    - '12345678909'
                    - '12345678000195'
                  pattern: '^\d{11}$|^\d{14}$'
                documentType:
                  type: string
                  enum:
                    - Cpf
                    - Cnpj
                email:
                  description: Customer email
                  type: string
                  format: email
                  examples:
                    - customer@example.com
                name:
                  description: Customer full name
                  type: string
                  examples:
                    - John Doe
                phoneNumber:
                  description: Customer phone number in +55 DD 9XXXXXXXX format
                  type: string
                  error: 'Invalid phone number format. Expected format: +55 DD 9XXXXXXXX'
                  examples:
                    - +55 11 987654321
                  pattern: '^\+(\d{1,2}) (\d{2}) (\d{8,9})$'
              title: Customer
      tags:
        - Customers
    delete:
      operationId: deleteCustomersById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      tags:
        - Customers
  /card-tokenization/:
    post:
      operationId: postCard-tokenization
      summary: Tokenize card
      description: Tokenize credit cards for future charges.
      requestBody:
        description: Data for creating a customer card
        required: true
        content:
          application/json:
            schema:
              description: Data for creating a customer card
              type: object
              properties:
                card:
                  type: object
                  properties:
                    cvv:
                      description: Card security code (CVV)
                      type: string
                      examples:
                        - '123'
                        - '1234'
                      maxLength: 4
                      minLength: 3
                    expiration:
                      type: object
                      properties:
                        month:
                          description: Card expiration month
                          type: number
                          examples:
                            - 1
                            - 12
                          maximum: 12
                          minimum: 1
                        year:
                          description: Card expiration year
                          type: number
                          examples:
                            - 2030
                          maximum: 2046
                          minimum: 2025
                      required:
                        - month
                        - year
                    holderName:
                      description: Card holder name
                      type: string
                      examples:
                        - JOHN DOE
                    number:
                      description: Credit card number
                      type: string
                      examples:
                        - '4242424242424242'
                  required:
                    - cvv
                    - expiration
                    - holderName
                    - number
                  title: Complete card data
                saveCard:
                  description: Indicates if the card should be saved for future use
                  type: boolean
                  examples:
                    - true
                    - false
                customer:
                  anyOf:
                    - description: Schema for creating a new customer
                      title: Customer
                      type: object
                      properties:
                        address:
                          description: Schema for creating a new address
                          type: object
                          properties:
                            city:
                              description: City name
                              type: string
                              examples:
                                - São Paulo
                                - Rio de Janeiro
                            country:
                              description: Country code in ISO 3166-1 alpha-2 format
                              type: string
                              default: BR
                              examples:
                                - BR
                                - US
                              maxLength: 2
                              minLength: 2
                            neighborhood:
                              description: Neighborhood name
                              type: string
                              examples:
                                - Downtown
                                - Jardins
                            number:
                              description: Address number
                              type: string
                              examples:
                                - '1000'
                                - '150'
                            state:
                              description: State code in ISO 3166-2 format
                              type: string
                              examples:
                                - SP
                                - RJ
                              maxLength: 2
                              minLength: 2
                            street:
                              description: Street name
                              type: string
                              examples:
                                - Av. Paulista
                                - Rua das Flores
                            zipCode:
                              description: ZIP code without formatting
                              type: string
                              examples:
                                - '01311200'
                                - '20040002'
                          required:
                            - city
                            - country
                            - neighborhood
                            - number
                            - state
                            - street
                            - zipCode
                          title: Customer address
                        documentNumber:
                          description: Customer CPF or CNPJ without formatting
                          type: string
                          examples:
                            - '12345678909'
                            - '12345678000195'
                          pattern: '^\d{11}$|^\d{14}$'
                        documentType:
                          description: 'Document type: Cpf or Cnpj'
                          anyOf:
                            - const: Cpf
                              type: string
                            - const: Cnpj
                              type: string
                          examples:
                            - Cpf
                            - Cnpj
                        email:
                          description: Customer email
                          type: string
                          format: email
                          examples:
                            - customer@example.com
                        name:
                          description: Customer full name
                          type: string
                          examples:
                            - John Doe
                        phoneNumber:
                          description: Customer phone number in +55 DD 9XXXXXXXX format
                          type: string
                          error: 'Invalid phone number format. Expected format: +55 DD 9XXXXXXXX'
                          examples:
                            - +55 11 987654321
                          pattern: '^\+(\d{1,2}) (\d{2}) (\d{8,9})$'
                      required:
                        - documentNumber
                        - documentType
                        - email
                        - name
                    - type: object
                      properties:
                        id:
                          description: ID do cliente existente
                          type: string
                          examples:
                            - cmjizheco00002v6o7q72knwb
                      required:
                        - id
              required:
                - card
                - saveCard
                - customer
      responses:
        '200':
          description: Response for status 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  customerId:
                    description: ID of the customer associated with the created card
                    type: string
                    examples:
                      - cmjizheco00002v6o7q72knwb
                  token:
                    description: Token of the created card for future transactions
                    type: string
                    examples:
                      - card_019b4cb6-bc0b-730b-81e2-5a9eaa22975a
                noValidate: true
                required:
                  - customerId
                  - token
      tags:
        - Card Tokenization
components:
  schemas: {}
  securitySchemes:
    basicAuth:
      description: 'Use the format Authorization: Basic base64(''client_id:client_secret'')'
      scheme: basic
      type: http
tags:
  - description: 'Manage charges, check order status, and handle refunds.'
    name: Orders
  - description: Initiate and monitor withdrawals and transfers to your external accounts.
    name: Withdrawals and Transfers
  - description: 'Manage customers, create, update, delete and list customers.'
    name: Customers
  - description: Tokenize credit cards for future charges.
    name: Card Tokenization
security:
  - basicAuth: []
webhooks:
  Order Update:
    post:
      requestBody:
        description: Triggered when the status of an order is changed.
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  description: Webhook event name
                  type: string
                  default: OrderCreated
                  enum:
                    - OrderCreated
                    - OrderPending
                    - OrderCompleted
                    - OrderFailed
                    - OrderRefunded
                    - OrderChargeback
                  examples:
                    - OrderCreated
                    - OrderCompleted
                payload:
                  type: object
                  noValidate: true
                  properties:
                    id:
                      description: Order ID in the system
                      type: string
                      examples:
                        - ord_abc123
                    externalId:
                      anyOf:
                        - description: External order ID (provided by your integration)
                          examples:
                            - order_123
                          type: string
                        - type: 'null'
                    externalIntegrationKey:
                      description: Provider used to process the order
                      type: string
                      examples:
                        - PagarMe
                        - Stripe
                    externalIntegrationId:
                      anyOf:
                        - description: Order ID in the payment provider
                          examples:
                            - order_123
                          type: string
                        - type: 'null'
                    amount:
                      description: Total order amount
                      type: number
                      examples:
                        - 150.45
                    costFee:
                      description: Cost fee applied to the order
                      type: number
                      examples:
                        - 4.5
                    pix:
                      description: PIX data
                      type: object
                      properties:
                        copyAndPasteCode:
                          description: PIX copy and paste code
                          type: string
                          examples:
                            - 00020126580014br.gov.bcb.pix...
                        qrCodeUrl:
                          description: PIX QR Code image URL
                          type: string
                          examples:
                            - 'https://example.com/qrcode.png'
                        endToEndId:
                          anyOf:
                            - description: PIX E2E ID
                              examples:
                                - E2EID1234567890
                              type: string
                            - type: 'null'
                          nullable: true
                      required:
                        - copyAndPasteCode
                        - qrCodeUrl
                        - endToEndId
                    bankSlip:
                      type: object
                      properties:
                        barCode:
                          description: Bank slip bar code
                          type: string
                          examples:
                            - '34191790010104351004791020150008291070026000'
                        digitableLine:
                          description: Bank slip digitable line
                          type: string
                          examples:
                            - 34191.79001 01043.510047 91020.150008 2 91070026000
                        pdfUrl:
                          description: Bank slip PDF URL
                          type: string
                          examples:
                            - 'https://example.com/boleto.pdf'
                      required:
                        - barCode
                        - digitableLine
                    nuPay:
                      type: object
                      properties:
                        paymentUrl:
                          description: NuPay payment URL
                          type: string
                          examples:
                            - 'https://nupay.com.br/payment/123456'
                      required:
                        - paymentUrl
                    picPay:
                      type: object
                      properties:
                        copyAndPasteCode:
                          description: PicPay copy and paste code
                          type: string
                          examples:
                            - picpay.me/store/abc123
                        qrCodeUrl:
                          description: PicPay QR Code image URL
                          type: string
                          examples:
                            - 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...'
                      required:
                        - copyAndPasteCode
                        - qrCodeUrl
                    creditCard:
                      type: object
                      properties:
                        authorizationCode:
                          description: Transaction authorization code
                          type: string
                          examples:
                            - '123456'
                    status:
                      description: Order status
                      anyOf:
                        - const: Generating
                          type: string
                        - const: Pending
                          type: string
                        - const: Completed
                          type: string
                        - const: Failed
                          type: string
                        - const: Canceled
                          type: string
                        - const: Refunding
                          type: string
                        - const: Refunded
                          type: string
                        - const: InDispute
                          type: string
                        - const: Chargeback
                          type: string
                      examples:
                        - Pending
                        - Completed
                    paymentMethod:
                      description: Payment method used in the order
                      anyOf:
                        - const: Pix
                          type: string
                        - const: CreditCard
                          type: string
                        - const: DebitCard
                          type: string
                        - const: BankSlip
                          type: string
                        - const: Crypto
                          type: string
                        - const: ApplePay
                          type: string
                        - const: NuPay
                          type: string
                        - const: PicPay
                          type: string
                        - const: AmazonPay
                          type: string
                        - const: SepaDebit
                          type: string
                        - const: GooglePay
                          type: string
                      examples:
                        - Pix
                        - CreditCard
                    payedAt:
                      anyOf:
                        - description: Date and time when the order was paid (ISO 8601)
                          examples:
                            - '2024-01-01T12:00:00Z'
                          type: string
                        - type: 'null'
                    errorCode:
                      anyOf:
                        - description: 'Error code, if any'
                          examples:
                            - INSUFFICIENT_FUNDS
                          type: string
                        - type: 'null'
                    errorMessage:
                      anyOf:
                        - description: 'Error message, if any'
                          examples:
                            - Insufficient funds
                          type: string
                        - type: 'null'
                    orderItems:
                      type: array
                      items:
                        type: object
                        properties:
                          externalId:
                            anyOf:
                              - description: External item ID
                                examples:
                                  - prod_123
                                type: string
                              - type: 'null'
                          id:
                            description: Item ID in the order
                            type: string
                            examples:
                              - item_abc123
                          name:
                            description: Product/service name
                            type: string
                            examples:
                              - Polo Shirt
                          qty:
                            description: Quantity
                            type: number
                            examples:
                              - 2
                          totalAmount:
                            description: Total item amount (quantity × unit price)
                            type: number
                            examples:
                              - 200
                          totalNetAmount:
                            description: Total net amount of the item
                            type: number
                            examples:
                              - 180
                          unityPrice:
                            description: Unit price
                            type: number
                            examples:
                              - 100
                        required:
                          - externalId
                          - id
                          - name
                          - qty
                          - totalAmount
                          - totalNetAmount
                          - unityPrice
                    session:
                      anyOf:
                        - type: object
                          properties:
                            sessionId:
                              description: ID of the checkout session associated with the order
                              type: string
                          required:
                            - sessionId
                        - type: 'null'
                      nullable: true
                  required:
                    - id
                    - externalId
                    - externalIntegrationKey
                    - externalIntegrationId
                    - amount
                    - costFee
                    - status
                    - paymentMethod
                    - payedAt
                    - errorCode
                    - errorMessage
                    - orderItems
              required:
                - event
                - payload
  Withdraw Update:
    post:
      requestBody:
        description: Triggered when the status of a withdrawal is changed.
        content:
          application/json:
            schema:
              type: object
              properties:
                event:
                  description: Webhook event name
                  type: string
                  default: WithdrawCreated
                  enum:
                    - WithdrawCreated
                    - WithdrawCompleted
                    - WithdrawFailed
                    - WithdrawTransferring
                  examples:
                    - WithdrawCreated
                    - WithdrawCompleted
                payload:
                  type: object
                  noValidate: true
                  properties:
                    id:
                      description: Unique withdrawal identifier
                      type: string
                      examples:
                        - wd_1234567890
                    externalId:
                      anyOf:
                        - description: Withdrawal ID in your system
                          examples:
                            - external_withdraw_123
                          type: string
                        - type: 'null'
                      nullable: true
                    externalIntegrationKey:
                      description: Provider key used for the withdrawal
                      type: string
                      examples:
                        - PagarMe
                        - Asaas
                    externalIntegrationId:
                      anyOf:
                        - description: Withdrawal ID in the payment provider
                          examples:
                            - withdraw_123
                          type: string
                        - type: 'null'
                    costFee:
                      description: Cost fee applied to the withdrawal
                      type: number
                      examples:
                        - 4.5
                    status:
                      description: Withdrawal status
                      type: string
                      default: Pending
                      enum:
                        - Pending
                        - Transferring
                        - Completed
                        - Failed
                      examples:
                        - Pending
                        - Completed
                    errorCode:
                      anyOf:
                        - description: 'Error code, if any'
                          examples:
                            - insufficient_funds
                            - invalid_account
                          type: string
                        - type: 'null'
                    errorMessage:
                      anyOf:
                        - type: 'null'
                        - description: 'Descriptive error message, if any'
                          examples:
                            - Insufficient balance to complete withdrawal
                            - Invalid bank account
                          type: string
                    payedAt:
                      anyOf:
                        - type: 'null'
                        - description: Date and time when the withdrawal was paid (ISO 8601 format)
                          examples:
                            - '2024-01-01T12:00:00Z'
                          anyOf:
                            - description: Date and time when the withdrawal was paid (ISO 8601 format)
                              examples:
                                - '2024-01-01T12:00:00Z'
                              type: Date
                            - format: date-time
                              type: string
                            - format: date
                              type: string
                            - type: number
                    payoutAccount:
                      type: object
                      properties:
                        id:
                          description: Unique payment account identifier
                          type: string
                          examples:
                            - pa_1234567890
                        ownerDocument:
                          description: Account holder document (CPF or CNPJ)
                          type: string
                          examples:
                            - '12345678909'
                            - '12345678000195'
                          pattern: '^\d{11}$|^\d{14}$'
                        ownerName:
                          description: Account holder name
                          type: string
                          examples:
                            - John Doe
                            - Company XYZ Ltda
                        pixKey:
                          description: PIX key used for the withdrawal
                          type: string
                          examples:
                            - john@example.com
                            - '11999999999'
                        pixType:
                          description: PIX key type
                          type: string
                          default: Cpf
                          enum:
                            - Cpf
                            - Cnpj
                            - Email
                            - Phone
                            - Random
                          examples:
                            - Email
                            - Cpf
                      required:
                        - id
                        - ownerDocument
                        - ownerName
                        - pixKey
                        - pixType
                  required:
                    - id
                    - externalId
                    - externalIntegrationKey
                    - externalIntegrationId
                    - costFee
                    - status
                    - errorCode
                    - errorMessage
                    - payedAt
                    - payoutAccount
              required:
                - event
                - payload
