/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package payconductor_sdk.apis

import java.io.IOException
import okhttp3.Call
import okhttp3.HttpUrl

import payconductor_sdk.models.OrderConfirmResponse
import payconductor_sdk.models.OrderCreateRequest
import payconductor_sdk.models.OrderCreateResponse
import payconductor_sdk.models.OrderPaymentRequest

import com.squareup.moshi.Json

import payconductor_sdk.infrastructure.ApiClient
import payconductor_sdk.infrastructure.ApiResponse
import payconductor_sdk.infrastructure.ClientException
import payconductor_sdk.infrastructure.ClientError
import payconductor_sdk.infrastructure.ServerException
import payconductor_sdk.infrastructure.ServerError
import payconductor_sdk.infrastructure.MultiValueMap
import payconductor_sdk.infrastructure.PartConfig
import payconductor_sdk.infrastructure.RequestConfig
import payconductor_sdk.infrastructure.RequestMethod
import payconductor_sdk.infrastructure.ResponseType
import payconductor_sdk.infrastructure.Success
import payconductor_sdk.infrastructure.toMultiValue

open class OrderApi(basePath: kotlin.String = defaultBasePath, client: Call.Factory = ApiClient.defaultClient) : ApiClient(basePath, client) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://app.payconductor.ai/api/v1")
        }
    }

    /**
     * POST /orders/{id}/confirm
     * Confirm Order
     * Confirms a Draft order, setting the payment method and processing the charges associated with the order.
     * @param id 
     * @param orderPaymentRequest Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)
     * @return OrderConfirmResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun orderConfirm(id: kotlin.String, orderPaymentRequest: OrderPaymentRequest) : OrderConfirmResponse {
        val localVarResponse = orderConfirmWithHttpInfo(id = id, orderPaymentRequest = orderPaymentRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as OrderConfirmResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /orders/{id}/confirm
     * Confirm Order
     * Confirms a Draft order, setting the payment method and processing the charges associated with the order.
     * @param id 
     * @param orderPaymentRequest Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)
     * @return ApiResponse<OrderConfirmResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun orderConfirmWithHttpInfo(id: kotlin.String, orderPaymentRequest: OrderPaymentRequest) : ApiResponse<OrderConfirmResponse?> {
        val localVariableConfig = orderConfirmRequestConfig(id = id, orderPaymentRequest = orderPaymentRequest)

        return request<OrderPaymentRequest, OrderConfirmResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation orderConfirm
     *
     * @param id 
     * @param orderPaymentRequest Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)
     * @return RequestConfig
     */
    fun orderConfirmRequestConfig(id: kotlin.String, orderPaymentRequest: OrderPaymentRequest) : RequestConfig<OrderPaymentRequest> {
        val localVariableBody = orderPaymentRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/orders/{id}/confirm".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /orders/
     * Create Order
     * Create a new order for payment using the provided data
     * @param orderCreateRequest Order data for payment processing
     * @return OrderCreateResponse
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun orderCreate(orderCreateRequest: OrderCreateRequest) : OrderCreateResponse {
        val localVarResponse = orderCreateWithHttpInfo(orderCreateRequest = orderCreateRequest)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as OrderCreateResponse
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /orders/
     * Create Order
     * Create a new order for payment using the provided data
     * @param orderCreateRequest Order data for payment processing
     * @return ApiResponse<OrderCreateResponse?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun orderCreateWithHttpInfo(orderCreateRequest: OrderCreateRequest) : ApiResponse<OrderCreateResponse?> {
        val localVariableConfig = orderCreateRequestConfig(orderCreateRequest = orderCreateRequest)

        return request<OrderCreateRequest, OrderCreateResponse>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation orderCreate
     *
     * @param orderCreateRequest Order data for payment processing
     * @return RequestConfig
     */
    fun orderCreateRequestConfig(orderCreateRequest: OrderCreateRequest) : RequestConfig<OrderCreateRequest> {
        val localVariableBody = orderCreateRequest
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/orders/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * enum for parameter status
     */
     enum class StatusOrderList(val value: kotlin.String) {
         @Json(name = "Generating") Generating("Generating"),
         @Json(name = "Pending") Pending("Pending"),
         @Json(name = "Completed") Completed("Completed"),
         @Json(name = "Failed") Failed("Failed"),
         @Json(name = "Canceled") Canceled("Canceled"),
         @Json(name = "Refunding") Refunding("Refunding"),
         @Json(name = "Refunded") Refunded("Refunded"),
         @Json(name = "InDispute") InDispute("InDispute"),
         @Json(name = "Chargeback") Chargeback("Chargeback");

        /**
         * Override [toString()] to avoid using the enum variable name as the value, and instead use
         * the actual value defined in the API spec file.
         *
         * This solves a problem when the variable name and its value are different, and ensures that
         * the client sends the correct enum values to the server always.
         */
        override fun toString(): kotlin.String = "$value"
     }

    /**
     * GET /orders/
     * List Orders
     * Retrieve a list of orders. Use date filter and pagination parameters to refine results as needed.
     * @param page  (default to 1)
     * @param pageSize  (default to 20)
     * @param endDate  (optional)
     * @param startDate  (optional)
     * @param id  (optional)
     * @param status  (optional)
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun orderList(page: java.math.BigDecimal = java.math.BigDecimal("1"), pageSize: java.math.BigDecimal = java.math.BigDecimal("20"), endDate: java.time.OffsetDateTime? = null, startDate: java.time.OffsetDateTime? = null, id: kotlin.String? = null, status: StatusOrderList? = null) : Unit {
        val localVarResponse = orderListWithHttpInfo(page = page, pageSize = pageSize, endDate = endDate, startDate = startDate, id = id, status = status)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /orders/
     * List Orders
     * Retrieve a list of orders. Use date filter and pagination parameters to refine results as needed.
     * @param page  (default to 1)
     * @param pageSize  (default to 20)
     * @param endDate  (optional)
     * @param startDate  (optional)
     * @param id  (optional)
     * @param status  (optional)
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun orderListWithHttpInfo(page: java.math.BigDecimal, pageSize: java.math.BigDecimal, endDate: java.time.OffsetDateTime?, startDate: java.time.OffsetDateTime?, id: kotlin.String?, status: StatusOrderList?) : ApiResponse<Unit?> {
        val localVariableConfig = orderListRequestConfig(page = page, pageSize = pageSize, endDate = endDate, startDate = startDate, id = id, status = status)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation orderList
     *
     * @param page  (default to 1)
     * @param pageSize  (default to 20)
     * @param endDate  (optional)
     * @param startDate  (optional)
     * @param id  (optional)
     * @param status  (optional)
     * @return RequestConfig
     */
    fun orderListRequestConfig(page: java.math.BigDecimal, pageSize: java.math.BigDecimal, endDate: java.time.OffsetDateTime?, startDate: java.time.OffsetDateTime?, id: kotlin.String?, status: StatusOrderList?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (endDate != null) {
                    put("endDate", listOf(parseDateToQueryString(endDate)))
                }
                if (startDate != null) {
                    put("startDate", listOf(parseDateToQueryString(startDate)))
                }
                put("page", listOf(page.toString()))
                put("pageSize", listOf(pageSize.toString()))
                if (id != null) {
                    put("id", listOf(id.toString()))
                }
                if (status != null) {
                    put("status", listOf(status.value))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/orders/",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * GET /orders/{id}
     * Get Order By ID
     * Retrieve the complete data of an order by our ID
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun orderRead(id: kotlin.String) : Unit {
        val localVarResponse = orderReadWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * GET /orders/{id}
     * Get Order By ID
     * Retrieve the complete data of an order by our ID
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun orderReadWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = orderReadRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation orderRead
     *
     * @param id 
     * @return RequestConfig
     */
    fun orderReadRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/orders/{id}".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }

    /**
     * POST /orders/{id}/refund
     * Refund Order
     * Initiate a refund for the order specified by ID.
     * @param id 
     * @return void
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     * @throws UnsupportedOperationException If the API returns an informational or redirection response
     * @throws ClientException If the API returns a client error response
     * @throws ServerException If the API returns a server error response
     */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun orderRefund(id: kotlin.String) : Unit {
        val localVarResponse = orderRefundWithHttpInfo(id = id)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()} ${localVarError.body}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
     * POST /orders/{id}/refund
     * Refund Order
     * Initiate a refund for the order specified by ID.
     * @param id 
     * @return ApiResponse<Unit?>
     * @throws IllegalStateException If the request is not correctly configured
     * @throws IOException Rethrows the OkHttp execute method exception
     */
    @Throws(IllegalStateException::class, IOException::class)
    fun orderRefundWithHttpInfo(id: kotlin.String) : ApiResponse<Unit?> {
        val localVariableConfig = orderRefundRequestConfig(id = id)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
     * To obtain the request config of the operation orderRefund
     *
     * @param id 
     * @return RequestConfig
     */
    fun orderRefundRequestConfig(id: kotlin.String) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/orders/{id}/refund".replace("{"+"id"+"}", encodeURIComponent(id.toString())),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            body = localVariableBody
        )
    }


    private fun encodeURIComponent(uriComponent: kotlin.String): kotlin.String =
        HttpUrl.Builder().scheme("http").host("localhost").addPathSegment(uriComponent).build().encodedPathSegments[0]
}
