{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://app.payconductor.ai/api/v1"
    }
  ],
  "webhooks": {
    "Order Update": {
      "post": {
        "requestBody": {
          "description": "Triggered when the status of an order is changed.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "$ref": "#/components/schemas/Event"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Order ID in the system",
                        "examples": [
                          "ord_abc123"
                        ],
                        "type": "string"
                      },
                      "externalId": {
                        "anyOf": [
                          {
                            "description": "External order ID (provided by your integration)",
                            "examples": [
                              "order_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalIntegrationKey": {
                        "description": "Provider used to process the order",
                        "examples": [
                          "PagarMe",
                          "Stripe"
                        ],
                        "type": "string"
                      },
                      "externalIntegrationId": {
                        "anyOf": [
                          {
                            "description": "Order ID in the payment provider",
                            "examples": [
                              "order_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "amount": {
                        "description": "Total order amount",
                        "examples": [
                          150.45
                        ],
                        "type": "number"
                      },
                      "costFee": {
                        "description": "Cost fee applied to the order",
                        "examples": [
                          4.5
                        ],
                        "type": "number"
                      },
                      "pix": {
                        "description": "PIX data",
                        "type": "object",
                        "properties": {
                          "copyAndPasteCode": {
                            "description": "PIX copy and paste code",
                            "examples": [
                              "00020126580014br.gov.bcb.pix..."
                            ],
                            "type": "string"
                          },
                          "qrCodeUrl": {
                            "description": "PIX QR Code image URL",
                            "examples": [
                              "https://example.com/qrcode.png"
                            ],
                            "type": "string"
                          },
                          "endToEndId": {
                            "nullable": true,
                            "anyOf": [
                              {
                                "description": "PIX E2E ID",
                                "examples": [
                                  "E2EID1234567890"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "copyAndPasteCode",
                          "qrCodeUrl",
                          "endToEndId"
                        ]
                      },
                      "bankSlip": {
                        "type": "object",
                        "properties": {
                          "barCode": {
                            "description": "Bank slip bar code",
                            "examples": [
                              "34191790010104351004791020150008291070026000"
                            ],
                            "type": "string"
                          },
                          "digitableLine": {
                            "description": "Bank slip digitable line",
                            "examples": [
                              "34191.79001 01043.510047 91020.150008 2 91070026000"
                            ],
                            "type": "string"
                          },
                          "pdfUrl": {
                            "description": "Bank slip PDF URL",
                            "examples": [
                              "https://example.com/boleto.pdf"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "barCode",
                          "digitableLine"
                        ]
                      },
                      "nuPay": {
                        "type": "object",
                        "properties": {
                          "paymentUrl": {
                            "description": "NuPay payment URL",
                            "examples": [
                              "https://nupay.com.br/payment/123456"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "paymentUrl"
                        ]
                      },
                      "picPay": {
                        "type": "object",
                        "properties": {
                          "copyAndPasteCode": {
                            "description": "PicPay copy and paste code",
                            "examples": [
                              "picpay.me/store/abc123"
                            ],
                            "type": "string"
                          },
                          "qrCodeUrl": {
                            "description": "PicPay QR Code image URL",
                            "examples": [
                              "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "copyAndPasteCode",
                          "qrCodeUrl"
                        ]
                      },
                      "creditCard": {
                        "type": "object",
                        "properties": {
                          "authorizationCode": {
                            "description": "Transaction authorization code",
                            "examples": [
                              "123456"
                            ],
                            "type": "string"
                          }
                        }
                      },
                      "status": {
                        "$ref": "#/components/schemas/Status"
                      },
                      "paymentMethod": {
                        "$ref": "#/components/schemas/PaymentMethod"
                      },
                      "payedAt": {
                        "anyOf": [
                          {
                            "description": "Date and time when the order was paid (ISO 8601)",
                            "examples": [
                              "2024-01-01T12:00:00Z"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "errorCode": {
                        "anyOf": [
                          {
                            "description": "Error code, if any",
                            "examples": [
                              "INSUFFICIENT_FUNDS"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "errorMessage": {
                        "anyOf": [
                          {
                            "description": "Error message, if any",
                            "examples": [
                              "Insufficient funds"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "orderItems": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "externalId": {
                              "anyOf": [
                                {
                                  "description": "External item ID",
                                  "examples": [
                                    "prod_123"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "id": {
                              "description": "Item ID in the order",
                              "examples": [
                                "item_abc123"
                              ],
                              "type": "string"
                            },
                            "name": {
                              "description": "Product/service name",
                              "examples": [
                                "Polo Shirt"
                              ],
                              "type": "string"
                            },
                            "qty": {
                              "description": "Quantity",
                              "examples": [
                                2
                              ],
                              "type": "number"
                            },
                            "totalAmount": {
                              "description": "Total item amount (quantity × unit price)",
                              "examples": [
                                200
                              ],
                              "type": "number"
                            },
                            "totalNetAmount": {
                              "description": "Total net amount of the item",
                              "examples": [
                                180
                              ],
                              "type": "number"
                            },
                            "unityPrice": {
                              "description": "Unit price",
                              "examples": [
                                100
                              ],
                              "type": "number"
                            }
                          },
                          "required": [
                            "externalId",
                            "id",
                            "name",
                            "qty",
                            "totalAmount",
                            "totalNetAmount",
                            "unityPrice"
                          ]
                        }
                      },
                      "session": {
                        "nullable": true,
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "sessionId": {
                                "description": "ID of the checkout session associated with the order",
                                "type": "string"
                              }
                            },
                            "required": [
                              "sessionId"
                            ]
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "externalId",
                      "externalIntegrationKey",
                      "externalIntegrationId",
                      "amount",
                      "costFee",
                      "status",
                      "paymentMethod",
                      "payedAt",
                      "errorCode",
                      "errorMessage",
                      "orderItems"
                    ],
                    "noValidate": true
                  }
                },
                "required": [
                  "event",
                  "payload"
                ]
              }
            }
          }
        }
      }
    },
    "Withdraw Update": {
      "post": {
        "requestBody": {
          "description": "Triggered when the status of a withdrawal is changed.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "event": {
                    "$ref": "#/components/schemas/Event"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Unique withdrawal identifier",
                        "examples": [
                          "wd_1234567890"
                        ],
                        "type": "string"
                      },
                      "externalId": {
                        "nullable": true,
                        "anyOf": [
                          {
                            "description": "Withdrawal ID in your system",
                            "examples": [
                              "external_withdraw_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "externalIntegrationKey": {
                        "description": "Provider key used for the withdrawal",
                        "examples": [
                          "PagarMe",
                          "Asaas"
                        ],
                        "type": "string"
                      },
                      "externalIntegrationId": {
                        "anyOf": [
                          {
                            "description": "Withdrawal ID in the payment provider",
                            "examples": [
                              "withdraw_123"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "costFee": {
                        "description": "Cost fee applied to the withdrawal",
                        "examples": [
                          4.5
                        ],
                        "type": "number"
                      },
                      "status": {
                        "$ref": "#/components/schemas/Status"
                      },
                      "errorCode": {
                        "anyOf": [
                          {
                            "description": "Error code, if any",
                            "examples": [
                              "insufficient_funds",
                              "invalid_account"
                            ],
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "errorMessage": {
                        "anyOf": [
                          {
                            "type": "null"
                          },
                          {
                            "description": "Descriptive error message, if any",
                            "examples": [
                              "Insufficient balance to complete withdrawal",
                              "Invalid bank account"
                            ],
                            "type": "string"
                          }
                        ]
                      },
                      "payedAt": {
                        "anyOf": [
                          {
                            "type": "null"
                          },
                          {
                            "description": "Date and time when the withdrawal was paid (ISO 8601 format)",
                            "examples": [
                              "2024-01-01T12:00:00Z"
                            ],
                            "anyOf": [
                              {
                                "description": "Date and time when the withdrawal was paid (ISO 8601 format)",
                                "examples": [
                                  "2024-01-01T12:00:00Z"
                                ],
                                "type": "Date"
                              },
                              {
                                "format": "date-time",
                                "type": "string"
                              },
                              {
                                "format": "date",
                                "type": "string"
                              },
                              {
                                "type": "number"
                              }
                            ]
                          }
                        ]
                      },
                      "payoutAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "description": "Unique payment account identifier",
                            "examples": [
                              "pa_1234567890"
                            ],
                            "type": "string"
                          },
                          "ownerDocument": {
                            "description": "Account holder document (CPF or CNPJ)",
                            "examples": [
                              "12345678909",
                              "12345678000195"
                            ],
                            "pattern": "^\\d{11}$|^\\d{14}$",
                            "type": "string"
                          },
                          "ownerName": {
                            "description": "Account holder name",
                            "examples": [
                              "John Doe",
                              "Company XYZ Ltda"
                            ],
                            "type": "string"
                          },
                          "pixKey": {
                            "description": "PIX key used for the withdrawal",
                            "examples": [
                              "john@example.com",
                              "11999999999"
                            ],
                            "type": "string"
                          },
                          "pixType": {
                            "$ref": "#/components/schemas/PixType"
                          }
                        },
                        "required": [
                          "id",
                          "ownerDocument",
                          "ownerName",
                          "pixKey",
                          "pixType"
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "externalId",
                      "externalIntegrationKey",
                      "externalIntegrationId",
                      "costFee",
                      "status",
                      "errorCode",
                      "errorMessage",
                      "payedAt",
                      "payoutAccount"
                    ],
                    "noValidate": true
                  }
                },
                "required": [
                  "event",
                  "payload"
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "description": "Use the format Authorization: Basic base64('client_id:client_secret')",
        "scheme": "basic",
        "type": "http"
      }
    },
    "schemas": {
      "Event": {
        "type": "string",
        "enum": [
          "OrderCreated",
          "OrderPending",
          "OrderCompleted",
          "OrderFailed",
          "OrderRefunded",
          "OrderChargeback",
          "WithdrawCreated",
          "WithdrawCompleted",
          "WithdrawFailed",
          "WithdrawTransferring"
        ],
        "x-enum-varnames": [
          "OrderCreated",
          "OrderPending",
          "OrderCompleted",
          "OrderFailed",
          "OrderRefunded",
          "OrderChargeback",
          "WithdrawCreated",
          "WithdrawCompleted",
          "WithdrawFailed",
          "WithdrawTransferring"
        ]
      },
      "Status": {
        "type": "string",
        "enum": [
          "Generating",
          "Pending",
          "Completed",
          "Failed",
          "Canceled",
          "Refunding",
          "Refunded",
          "InDispute",
          "Chargeback",
          "Transferring"
        ],
        "x-enum-varnames": [
          "Generating",
          "Pending",
          "Completed",
          "Failed",
          "Canceled",
          "Refunding",
          "Refunded",
          "InDispute",
          "Chargeback",
          "Transferring"
        ]
      },
      "PaymentMethod": {
        "type": "string",
        "enum": [
          "Pix",
          "CreditCard",
          "DebitCard",
          "BankSlip",
          "Crypto",
          "ApplePay",
          "NuPay",
          "PicPay",
          "AmazonPay",
          "SepaDebit",
          "GooglePay",
          "Draft"
        ],
        "x-enum-varnames": [
          "Pix",
          "CreditCard",
          "DebitCard",
          "BankSlip",
          "Crypto",
          "ApplePay",
          "NuPay",
          "PicPay",
          "AmazonPay",
          "SepaDebit",
          "GooglePay",
          "Draft"
        ]
      },
      "PixType": {
        "type": "string",
        "enum": [
          "Cpf",
          "Cnpj",
          "Email",
          "Phone",
          "Random"
        ],
        "x-enum-varnames": [
          "Cpf",
          "Cnpj",
          "Email",
          "Phone",
          "Random"
        ]
      },
      "DocumentType": {
        "type": "string",
        "enum": [
          "Cpf",
          "Cnpj"
        ],
        "x-enum-varnames": [
          "Cpf",
          "Cnpj"
        ]
      },
      "AvailablePaymentMethods": {
        "type": "string",
        "enum": [
          "Pix",
          "CreditCard",
          "DebitCard",
          "BankSlip",
          "Crypto",
          "ApplePay",
          "NuPay",
          "PicPay",
          "AmazonPay",
          "SepaDebit",
          "GooglePay",
          "Draft"
        ],
        "x-enum-varnames": [
          "Pix",
          "CreditCard",
          "DebitCard",
          "BankSlip",
          "Crypto",
          "ApplePay",
          "NuPay",
          "PicPay",
          "AmazonPay",
          "SepaDebit",
          "GooglePay",
          "Draft"
        ]
      },
      "Pix": {
        "title": "Pix",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "expirationInSeconds": {
            "default": 3600,
            "description": "PIX expiration time in seconds",
            "examples": [
              3600,
              86400
            ],
            "minimum": 3600,
            "anyOf": [
              {
                "format": "integer",
                "default": 0,
                "type": "string"
              },
              {
                "default": 3600,
                "description": "PIX expiration time in seconds",
                "examples": [
                  3600,
                  86400
                ],
                "minimum": 3600,
                "type": "integer"
              }
            ]
          }
        },
        "required": [
          "paymentMethod"
        ]
      },
      "CreditCard": {
        "title": "Credit Card",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "card": {
            "anyOf": [
              {
                "title": "Tokenized card",
                "type": "object",
                "properties": {
                  "firstSixCardNumber": {
                    "description": "First 6 digits of the credit card",
                    "examples": [
                      "411111"
                    ],
                    "type": "string"
                  },
                  "token": {
                    "description": "Previously generated credit card token",
                    "type": "string"
                  }
                },
                "required": [
                  "token"
                ]
              },
              {
                "title": "Complete card data",
                "type": "object",
                "properties": {
                  "cvv": {
                    "description": "Card security code (CVV)",
                    "examples": [
                      "123",
                      "1234"
                    ],
                    "maxLength": 4,
                    "minLength": 3,
                    "type": "string"
                  },
                  "expiration": {
                    "type": "object",
                    "properties": {
                      "month": {
                        "description": "Card expiration month",
                        "examples": [
                          1,
                          12
                        ],
                        "maximum": 12,
                        "minimum": 1,
                        "type": "number"
                      },
                      "year": {
                        "description": "Card expiration year",
                        "examples": [
                          2030
                        ],
                        "maximum": 2046,
                        "minimum": 2025,
                        "type": "number"
                      }
                    },
                    "required": [
                      "month",
                      "year"
                    ]
                  },
                  "holderName": {
                    "description": "Card holder name",
                    "examples": [
                      "JOHN DOE"
                    ],
                    "type": "string"
                  },
                  "number": {
                    "description": "Credit card number",
                    "examples": [
                      "4242424242424242"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "cvv",
                  "expiration",
                  "holderName",
                  "number"
                ]
              }
            ]
          },
          "installments": {
            "default": 1,
            "description": "Number of installments",
            "maximum": 12,
            "minimum": 1,
            "anyOf": [
              {
                "format": "integer",
                "default": 0,
                "type": "string"
              },
              {
                "default": 1,
                "description": "Number of installments",
                "maximum": 12,
                "minimum": 1,
                "type": "integer"
              }
            ]
          },
          "softDescriptor": {
            "description": "Text that will appear on the card statement (soft descriptor)",
            "minLength": 1,
            "maxLength": 22,
            "examples": [
              "PEDRO*TESTE"
            ],
            "type": "string"
          }
        },
        "required": [
          "paymentMethod",
          "card",
          "installments"
        ]
      },
      "BankSlip": {
        "title": "Bank Slip",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "expirationInDays": {
            "default": 7,
            "description": "Days until bank slip expires",
            "examples": [
              3,
              7,
              15
            ],
            "minimum": 1,
            "anyOf": [
              {
                "format": "integer",
                "default": 0,
                "type": "string"
              },
              {
                "default": 7,
                "description": "Days until bank slip expires",
                "examples": [
                  3,
                  7,
                  15
                ],
                "minimum": 1,
                "type": "integer"
              }
            ]
          }
        },
        "required": [
          "paymentMethod"
        ]
      },
      "NuPay": {
        "title": "NuPay",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "nuPay": {
            "description": "Specific data for NuPay payment",
            "type": "object",
            "properties": {
              "cancelUrl": {
                "description": "Payment cancellation URL",
                "examples": [
                  "https://example.com/cancel"
                ],
                "type": "string"
              },
              "merchantName": {
                "description": "Merchant name",
                "examples": [
                  "My Store"
                ],
                "type": "string"
              },
              "returnUrl": {
                "description": "Return URL after payment completion",
                "examples": [
                  "https://example.com/success"
                ],
                "type": "string"
              },
              "storeName": {
                "description": "Store name",
                "examples": [
                  "Downtown Branch"
                ],
                "type": "string"
              }
            },
            "required": [
              "cancelUrl",
              "merchantName",
              "returnUrl"
            ]
          }
        },
        "required": [
          "paymentMethod",
          "nuPay"
        ]
      },
      "PicPay": {
        "title": "PicPay",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          }
        },
        "required": [
          "paymentMethod"
        ]
      },
      "Draft": {
        "title": "Draft",
        "description": "Used to create an order without generating a real payment. Use to create orders that will be paid later",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "expirationInSeconds": {
            "default": 3600,
            "description": "Order expiration time in seconds",
            "examples": [
              3600,
              86400
            ],
            "anyOf": [
              {
                "format": "integer",
                "default": 0,
                "type": "string"
              },
              {
                "default": 3600,
                "description": "Order expiration time in seconds",
                "examples": [
                  3600,
                  86400
                ],
                "type": "integer"
              }
            ]
          },
          "availablePaymentMethods": {
            "description": "Available payment methods for this order",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AvailablePaymentMethods"
            }
          }
        },
        "required": [
          "paymentMethod"
        ]
      }
    }
  },
  "info": {
    "title": "PayConductor API",
    "description": "PayConductor API Documentation.\n\nThis documentation covers all available features in the PayConductor RESTful API, including authentication, resource management, and usage examples.\n\n<br />\n\n<br />\n\n----\n\n<br />\n\n\n# Authentication\n\nPayConductor API uses HTTP Basic authentication to validate requests. You need to provide your credentials (Client ID and Client Secret) in the `client:secret` format encoded in Base64.\n\n<br />\n\n## Getting Credentials\n\n1. Access the PayConductor admin panel\n2. Navigate to **Settings > API Keys**\n3. Generate a new credentials pair (Client ID and Client Secret)\n4. Store the Client Secret in a secure location - it will not be displayed again\n\n<br />\n\n## Authentication Format\n\nCredentials must be sent in the `Authorization` header using the Basic scheme:\n\n```\nAuthorization: Basic base64(client_id:client_secret)\n```\n\n<br />\n\n## Node.js Example\n\n```javascript\nconst clientId = 'your_client_id';\nconst clientSecret = 'your_client_secret';\n\n// Encode credentials in Base64\nconst credentials = Buffer.from(`${clientId}:${clientSecret}`).toString('base64');\n\nconst response = await fetch('https://api.payconductor.com/api/v1/orders', {\n  method: 'GET',\n  headers: {\n    'Authorization': `Basic ${credentials}`,\n    'Content-Type': 'application/json'\n  }\n});\n\nconst data = await response.json();\nconsole.log(data);\n```\n\n<br />\n\n## Authentication Errors\n\n| Code | Description |\n|------|-------------|\n| `401` | Invalid or missing credentials |\n| `403` | Valid credentials but no permission for the resource |\n| `429` | Too many requests (rate limit exceeded) |\n\n### Error Response Example\n\n```json\n{\n  \"error\": {\n    \"code\": \"UNAUTHORIZED\",\n    \"message\": \"Invalid credentials\",\n    \"details\": \"The provided client ID or secret is incorrect\"\n  }\n}\n```",
    "version": "1.0.0"
  },
  "security": [
    {
      "basicAuth": []
    }
  ],
  "tags": [
    {
      "description": "Manage charges, check order status, and handle refunds.",
      "name": "Orders"
    },
    {
      "description": "Initiate and monitor withdrawals and transfers to your external accounts.",
      "name": "Transfers"
    },
    {
      "description": "Manage customers, create, update, delete and list customers.",
      "name": "Customers"
    },
    {
      "description": "Tokenize credit cards for future charges.",
      "name": "Card Tokenization"
    }
  ],
  "paths": {
    "/orders/": {
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "Create a new order for payment using the provided data",
        "summary": "Create order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "chargeAmount": {
                    "description": "Total amount to be charged on the order in floating point value",
                    "examples": [
                      150
                    ],
                    "type": "number"
                  },
                  "clientIp": {
                    "description": "Client IP address",
                    "examples": [
                      "192.168.0.1"
                    ],
                    "type": "string"
                  },
                  "customer": {
                    "description": "Schema for creating a new customer",
                    "title": "Customer",
                    "type": "object",
                    "properties": {
                      "address": {
                        "description": "Schema for creating a new address",
                        "title": "Customer address",
                        "type": "object",
                        "properties": {
                          "city": {
                            "description": "City name",
                            "examples": [
                              "São Paulo",
                              "Rio de Janeiro"
                            ],
                            "type": "string"
                          },
                          "country": {
                            "default": "BR",
                            "description": "Country code in ISO 3166-1 alpha-2 format",
                            "examples": [
                              "BR",
                              "US"
                            ],
                            "maxLength": 2,
                            "minLength": 2,
                            "type": "string"
                          },
                          "neighborhood": {
                            "description": "Neighborhood name",
                            "examples": [
                              "Downtown",
                              "Jardins"
                            ],
                            "type": "string"
                          },
                          "number": {
                            "description": "Address number",
                            "examples": [
                              "1000",
                              "150"
                            ],
                            "type": "string"
                          },
                          "state": {
                            "description": "State code in ISO 3166-2 format",
                            "examples": [
                              "SP",
                              "RJ"
                            ],
                            "maxLength": 2,
                            "minLength": 2,
                            "type": "string"
                          },
                          "street": {
                            "description": "Street name",
                            "examples": [
                              "Av. Paulista",
                              "Rua das Flores"
                            ],
                            "type": "string"
                          },
                          "zipCode": {
                            "description": "ZIP code without formatting",
                            "examples": [
                              "01311200",
                              "20040002"
                            ],
                            "type": "string"
                          }
                        },
                        "required": [
                          "city",
                          "country",
                          "neighborhood",
                          "number",
                          "state",
                          "street",
                          "zipCode"
                        ]
                      },
                      "documentNumber": {
                        "description": "Customer CPF or CNPJ without formatting",
                        "examples": [
                          "12345678909",
                          "12345678000195"
                        ],
                        "pattern": "^\\d{11}$|^\\d{14}$",
                        "type": "string"
                      },
                      "documentType": {
                        "$ref": "#/components/schemas/DocumentType"
                      },
                      "email": {
                        "description": "Customer email",
                        "examples": [
                          "customer@example.com"
                        ],
                        "format": "email",
                        "type": "string"
                      },
                      "name": {
                        "description": "Customer full name",
                        "examples": [
                          "John Doe"
                        ],
                        "type": "string"
                      },
                      "phoneNumber": {
                        "description": "Customer phone number in +55 DD 9XXXXXXXX format",
                        "examples": [
                          "+55 11 987654321"
                        ],
                        "error": "Invalid phone number format. Expected format: +55 DD 9XXXXXXXX",
                        "pattern": "^\\+(\\d{1,2}) (\\d{2}) (\\d{8,9})$",
                        "type": "string"
                      }
                    },
                    "required": [
                      "documentNumber",
                      "documentType",
                      "email",
                      "name"
                    ]
                  },
                  "discountAmount": {
                    "default": 0,
                    "description": "Discount amount",
                    "type": "number"
                  },
                  "externalId": {
                    "description": "Order ID in your system",
                    "examples": [
                      "your_id_12345"
                    ],
                    "type": "string"
                  },
                  "fingerprints": {
                    "type": "object",
                    "properties": {
                      "threatMetrixFingerprintId": {
                        "description": "ThreatMetrix fingerprint ID for fraud analysis",
                        "examples": [
                          "tmx_fingerprint_abc123"
                        ],
                        "type": "string"
                      }
                    }
                  },
                  "items": {
                    "description": "List of products or services in the order",
                    "maxItems": 20,
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Product or service ID in your system",
                          "examples": [
                            "prod_123",
                            "serv_456"
                          ],
                          "type": "string"
                        },
                        "isPhysical": {
                          "default": false,
                          "description": "Defines if the item is a physical product or a service",
                          "examples": [
                            true,
                            false
                          ],
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Product or service name",
                          "examples": [
                            "Polo Shirt",
                            "Service Payment"
                          ],
                          "type": "string"
                        },
                        "qty": {
                          "description": "Quantity of the product or service",
                          "examples": [
                            1
                          ],
                          "type": "number"
                        },
                        "unitPrice": {
                          "description": "Unit price",
                          "examples": [
                            100
                          ],
                          "type": "number"
                        }
                      },
                      "required": [
                        "id",
                        "isPhysical",
                        "name",
                        "qty",
                        "unitPrice"
                      ]
                    }
                  },
                  "merchant": {
                    "description": "Merchant data for order or withdrawal",
                    "title": "MerchantInput",
                    "type": "object",
                    "properties": {
                      "document": {
                        "description": "Merchant CPF or CNPJ without formatting",
                        "examples": [
                          "12345678909",
                          "12345678000195"
                        ],
                        "pattern": "^\\d{11}$|^\\d{14}$",
                        "type": "string"
                      },
                      "email": {
                        "description": "Merchant email",
                        "examples": [
                          "merchant@example.com"
                        ],
                        "format": "email",
                        "type": "string"
                      },
                      "name": {
                        "description": "Merchant name",
                        "examples": [
                          "John's Store"
                        ],
                        "maxLength": 255,
                        "minLength": 2,
                        "type": "string"
                      }
                    },
                    "required": [
                      "document",
                      "email",
                      "name"
                    ]
                  },
                  "payment": {
                    "description": "Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)",
                    "noValidate": true,
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/Pix"
                      },
                      {
                        "$ref": "#/components/schemas/CreditCard"
                      },
                      {
                        "$ref": "#/components/schemas/BankSlip"
                      },
                      {
                        "$ref": "#/components/schemas/NuPay"
                      },
                      {
                        "$ref": "#/components/schemas/PicPay"
                      },
                      {
                        "$ref": "#/components/schemas/Draft"
                      }
                    ],
                    "discriminator": {
                      "propertyName": "paymentMethod",
                      "mapping": {
                        "Pix": "#/components/schemas/Pix",
                        "CreditCard": "#/components/schemas/CreditCard",
                        "BankSlip": "#/components/schemas/BankSlip",
                        "NuPay": "#/components/schemas/NuPay",
                        "PicPay": "#/components/schemas/PicPay",
                        "Draft": "#/components/schemas/Draft"
                      }
                    }
                  },
                  "splitAmountTotal": {
                    "description": "Total split amount to be paid to the merchant (Used only for reporting purposes, does not generate actual split)",
                    "examples": [
                      50
                    ],
                    "minimum": 0,
                    "type": "number"
                  },
                  "session": {
                    "description": "If externalSessionId or sessionId is provided and an existing session exists, it will be updated with the new data. Otherwise, a new session will be created.",
                    "type": "object",
                    "properties": {
                      "expiresInMinutes": {
                        "description": "Time in minutes for checkout session expiration",
                        "default": 30,
                        "minimum": 15,
                        "type": "number"
                      },
                      "checkoutUrl": {
                        "description": "Checkout URL for redirection",
                        "regex": "^(https?:\\/\\/)(www\\.)?([a-zA-Z0-9-]+\\.)+[a-zA-Z]{2,}([\\/\\w\\-._~:?#[\\]@!$&'()*+,;=%]*)?$",
                        "type": "string"
                      },
                      "sessionId": {
                        "description": "ID generated by our service to identify the checkout session",
                        "type": "string"
                      },
                      "externalSessionId": {
                        "description": "Checkout session ID generated by the client side. The ID must be unique for each cart session",
                        "minLength": 16,
                        "type": "string"
                      }
                    }
                  },
                  "shippingFee": {
                    "default": 0,
                    "description": "Shipping fee",
                    "type": "number"
                  },
                  "taxFee": {
                    "default": 0,
                    "description": "Additional fees",
                    "type": "number"
                  },
                  "metadata": {
                    "description": "Additional metadata for the order as key-value pairs. Keys should not contain spaces or special characters",
                    "type": "object",
                    "patternProperties": {
                      "^(.*)$": {
                        "description": "Metadata value",
                        "examples": [
                          "merchant@gmail.com"
                        ],
                        "type": "string"
                      }
                    }
                  }
                },
                "required": [
                  "chargeAmount",
                  "clientIp",
                  "customer",
                  "discountAmount",
                  "externalId",
                  "payment",
                  "shippingFee",
                  "taxFee"
                ],
                "noValidate": true,
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Order ID in the system",
                      "examples": [
                        "ord_abc123"
                      ],
                      "type": "string"
                    },
                    "externalId": {
                      "anyOf": [
                        {
                          "description": "External order ID (provided by your integration)",
                          "examples": [
                            "order_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalIntegrationKey": {
                      "description": "Provider used to process the order",
                      "examples": [
                        "PagarMe",
                        "Stripe"
                      ],
                      "type": "string"
                    },
                    "externalIntegrationId": {
                      "anyOf": [
                        {
                          "description": "Order ID in the payment provider",
                          "examples": [
                            "order_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "amount": {
                      "description": "Total order amount",
                      "examples": [
                        150.45
                      ],
                      "type": "number"
                    },
                    "costFee": {
                      "description": "Cost fee applied to the order",
                      "examples": [
                        4.5
                      ],
                      "type": "number"
                    },
                    "pix": {
                      "description": "PIX data",
                      "type": "object",
                      "properties": {
                        "copyAndPasteCode": {
                          "description": "PIX copy and paste code",
                          "examples": [
                            "00020126580014br.gov.bcb.pix..."
                          ],
                          "type": "string"
                        },
                        "qrCodeUrl": {
                          "description": "PIX QR Code image URL",
                          "examples": [
                            "https://example.com/qrcode.png"
                          ],
                          "type": "string"
                        },
                        "endToEndId": {
                          "nullable": true,
                          "anyOf": [
                            {
                              "description": "PIX E2E ID",
                              "examples": [
                                "E2EID1234567890"
                              ],
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "copyAndPasteCode",
                        "qrCodeUrl",
                        "endToEndId"
                      ]
                    },
                    "bankSlip": {
                      "type": "object",
                      "properties": {
                        "barCode": {
                          "description": "Bank slip bar code",
                          "examples": [
                            "34191790010104351004791020150008291070026000"
                          ],
                          "type": "string"
                        },
                        "digitableLine": {
                          "description": "Bank slip digitable line",
                          "examples": [
                            "34191.79001 01043.510047 91020.150008 2 91070026000"
                          ],
                          "type": "string"
                        },
                        "pdfUrl": {
                          "description": "Bank slip PDF URL",
                          "examples": [
                            "https://example.com/boleto.pdf"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "barCode",
                        "digitableLine"
                      ]
                    },
                    "nuPay": {
                      "type": "object",
                      "properties": {
                        "paymentUrl": {
                          "description": "NuPay payment URL",
                          "examples": [
                            "https://nupay.com.br/payment/123456"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "paymentUrl"
                      ]
                    },
                    "picPay": {
                      "type": "object",
                      "properties": {
                        "copyAndPasteCode": {
                          "description": "PicPay copy and paste code",
                          "examples": [
                            "picpay.me/store/abc123"
                          ],
                          "type": "string"
                        },
                        "qrCodeUrl": {
                          "description": "PicPay QR Code image URL",
                          "examples": [
                            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "copyAndPasteCode",
                        "qrCodeUrl"
                      ]
                    },
                    "creditCard": {
                      "type": "object",
                      "properties": {
                        "authorizationCode": {
                          "description": "Transaction authorization code",
                          "examples": [
                            "123456"
                          ],
                          "type": "string"
                        }
                      }
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "paymentMethod": {
                      "$ref": "#/components/schemas/PaymentMethod"
                    },
                    "payedAt": {
                      "anyOf": [
                        {
                          "description": "Date and time when the order was paid (ISO 8601)",
                          "examples": [
                            "2024-01-01T12:00:00Z"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorCode": {
                      "anyOf": [
                        {
                          "description": "Error code, if any",
                          "examples": [
                            "INSUFFICIENT_FUNDS"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorMessage": {
                      "anyOf": [
                        {
                          "description": "Error message, if any",
                          "examples": [
                            "Insufficient funds"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "orderItems": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "externalId": {
                            "anyOf": [
                              {
                                "description": "External item ID",
                                "examples": [
                                  "prod_123"
                                ],
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "id": {
                            "description": "Item ID in the order",
                            "examples": [
                              "item_abc123"
                            ],
                            "type": "string"
                          },
                          "name": {
                            "description": "Product/service name",
                            "examples": [
                              "Polo Shirt"
                            ],
                            "type": "string"
                          },
                          "qty": {
                            "description": "Quantity",
                            "examples": [
                              2
                            ],
                            "type": "number"
                          },
                          "totalAmount": {
                            "description": "Total item amount (quantity × unit price)",
                            "examples": [
                              200
                            ],
                            "type": "number"
                          },
                          "totalNetAmount": {
                            "description": "Total net amount of the item",
                            "examples": [
                              180
                            ],
                            "type": "number"
                          },
                          "unityPrice": {
                            "description": "Unit price",
                            "examples": [
                              100
                            ],
                            "type": "number"
                          }
                        },
                        "required": [
                          "externalId",
                          "id",
                          "name",
                          "qty",
                          "totalAmount",
                          "totalNetAmount",
                          "unityPrice"
                        ]
                      }
                    },
                    "session": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "sessionId": {
                              "description": "ID of the checkout session associated with the order",
                              "type": "string"
                            }
                          },
                          "required": [
                            "sessionId"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "externalId",
                    "externalIntegrationKey",
                    "externalIntegrationId",
                    "amount",
                    "costFee",
                    "status",
                    "paymentMethod",
                    "payedAt",
                    "errorCode",
                    "errorMessage",
                    "orderItems"
                  ],
                  "noValidate": true,
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postOrders"
      },
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Retrieve a list of orders. Use date filter and pagination parameters to refine results as needed.",
        "summary": "List orders",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)",
              "examples": [
                "2025-01-15T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)",
              "examples": [
                "2025-01-01T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "default": 1,
              "description": "Page number",
              "examples": [
                1,
                2,
                3
              ],
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "default": 20,
              "description": "Number of items per page",
              "examples": [
                10,
                20,
                50
              ],
              "maximum": 100,
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Internal ID of the order or charge",
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "Generating",
                "Pending",
                "Completed",
                "Failed",
                "Canceled",
                "Refunding",
                "Refunded",
                "InDispute",
                "Chargeback"
              ]
            }
          }
        ],
        "operationId": "getOrders"
      }
    },
    "/orders/{id}": {
      "get": {
        "tags": [
          "Orders"
        ],
        "description": "Retrieve the complete data of an order by our ID",
        "summary": "Get order by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getOrdersById"
      }
    },
    "/orders/{id}/confirm": {
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "Confirms a Draft order, setting the payment method and processing the charges associated with the order.",
        "summary": "Confirm order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)",
          "content": {
            "application/json": {
              "schema": {
                "description": "Payment data for the order (Pix, Credit Card, Bank Slip, NuPay, etc...)",
                "noValidate": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Pix"
                  },
                  {
                    "$ref": "#/components/schemas/CreditCard"
                  },
                  {
                    "$ref": "#/components/schemas/BankSlip"
                  },
                  {
                    "$ref": "#/components/schemas/NuPay"
                  },
                  {
                    "$ref": "#/components/schemas/PicPay"
                  },
                  {
                    "$ref": "#/components/schemas/Draft"
                  }
                ],
                "discriminator": {
                  "propertyName": "paymentMethod",
                  "mapping": {
                    "Pix": "#/components/schemas/Pix",
                    "CreditCard": "#/components/schemas/CreditCard",
                    "BankSlip": "#/components/schemas/BankSlip",
                    "NuPay": "#/components/schemas/NuPay",
                    "PicPay": "#/components/schemas/PicPay",
                    "Draft": "#/components/schemas/Draft"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Order ID in the system",
                      "examples": [
                        "ord_abc123"
                      ],
                      "type": "string"
                    },
                    "externalId": {
                      "anyOf": [
                        {
                          "description": "External order ID (provided by your integration)",
                          "examples": [
                            "order_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "amount": {
                      "description": "Total order amount",
                      "examples": [
                        150.45
                      ],
                      "type": "number"
                    },
                    "costFee": {
                      "description": "Cost fee applied to the order",
                      "examples": [
                        4.5
                      ],
                      "type": "number"
                    },
                    "pix": {
                      "description": "PIX data",
                      "type": "object",
                      "properties": {
                        "copyAndPasteCode": {
                          "description": "PIX copy and paste code",
                          "examples": [
                            "00020126580014br.gov.bcb.pix..."
                          ],
                          "type": "string"
                        },
                        "qrCodeUrl": {
                          "description": "PIX QR Code image URL",
                          "examples": [
                            "https://example.com/qrcode.png"
                          ],
                          "type": "string"
                        },
                        "endToEndId": {
                          "nullable": true,
                          "anyOf": [
                            {
                              "description": "PIX E2E ID",
                              "examples": [
                                "E2EID1234567890"
                              ],
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "copyAndPasteCode",
                        "qrCodeUrl",
                        "endToEndId"
                      ]
                    },
                    "bankSlip": {
                      "type": "object",
                      "properties": {
                        "barCode": {
                          "description": "Bank slip bar code",
                          "examples": [
                            "34191790010104351004791020150008291070026000"
                          ],
                          "type": "string"
                        },
                        "digitableLine": {
                          "description": "Bank slip digitable line",
                          "examples": [
                            "34191.79001 01043.510047 91020.150008 2 91070026000"
                          ],
                          "type": "string"
                        },
                        "pdfUrl": {
                          "description": "Bank slip PDF URL",
                          "examples": [
                            "https://example.com/boleto.pdf"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "barCode",
                        "digitableLine"
                      ]
                    },
                    "nuPay": {
                      "type": "object",
                      "properties": {
                        "paymentUrl": {
                          "description": "NuPay payment URL",
                          "examples": [
                            "https://nupay.com.br/payment/123456"
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "paymentUrl"
                      ]
                    },
                    "picPay": {
                      "type": "object",
                      "properties": {
                        "copyAndPasteCode": {
                          "description": "PicPay copy and paste code",
                          "examples": [
                            "picpay.me/store/abc123"
                          ],
                          "type": "string"
                        },
                        "qrCodeUrl": {
                          "description": "PicPay QR Code image URL",
                          "examples": [
                            "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                          ],
                          "type": "string"
                        }
                      },
                      "required": [
                        "copyAndPasteCode",
                        "qrCodeUrl"
                      ]
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "paymentMethod": {
                      "$ref": "#/components/schemas/PaymentMethod"
                    },
                    "payedAt": {
                      "anyOf": [
                        {
                          "description": "Date and time when the order was paid (ISO 8601)",
                          "examples": [
                            "2024-01-01T12:00:00Z"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorCode": {
                      "anyOf": [
                        {
                          "description": "Error code, if any",
                          "examples": [
                            "INSUFFICIENT_FUNDS"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorMessage": {
                      "anyOf": [
                        {
                          "description": "Error message, if any",
                          "examples": [
                            "Insufficient funds"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "externalId",
                    "amount",
                    "costFee",
                    "status",
                    "paymentMethod",
                    "payedAt",
                    "errorCode",
                    "errorMessage"
                  ],
                  "noValidate": true
                }
              }
            }
          }
        },
        "operationId": "postOrdersByIdConfirm"
      }
    },
    "/orders/{id}/refund": {
      "post": {
        "tags": [
          "Orders"
        ],
        "description": "Initiate a refund for the order specified by ID.",
        "summary": "Refund order",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "postOrdersByIdRefund"
      }
    },
    "/withdraws/": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "description": "Create a new withdrawal or transfer to the provided payment account",
        "summary": "Create withdrawal",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "description": "Withdrawal amount in cents",
                    "minimum": 1,
                    "type": "number"
                  },
                  "externalId": {
                    "description": "Withdrawal ID in your system",
                    "examples": [
                      "external_withdraw_123"
                    ],
                    "type": "string"
                  },
                  "merchant": {
                    "description": "Merchant data for order or withdrawal",
                    "title": "MerchantInput",
                    "type": "object",
                    "properties": {
                      "document": {
                        "description": "Merchant CPF or CNPJ without formatting",
                        "examples": [
                          "12345678909",
                          "12345678000195"
                        ],
                        "pattern": "^\\d{11}$|^\\d{14}$",
                        "type": "string"
                      },
                      "email": {
                        "description": "Merchant email",
                        "examples": [
                          "merchant@example.com"
                        ],
                        "format": "email",
                        "type": "string"
                      },
                      "name": {
                        "description": "Merchant name",
                        "examples": [
                          "John's Store"
                        ],
                        "maxLength": 255,
                        "minLength": 2,
                        "type": "string"
                      }
                    },
                    "required": [
                      "document",
                      "email",
                      "name"
                    ]
                  },
                  "payoutAccount": {
                    "type": "object",
                    "properties": {
                      "ownerDocument": {
                        "description": "Account holder document (CPF or CNPJ)",
                        "type": "string"
                      },
                      "ownerName": {
                        "description": "Account holder name",
                        "type": "string"
                      },
                      "pixKey": {
                        "description": "PIX key for withdrawal",
                        "type": "string"
                      },
                      "pixType": {
                        "$ref": "#/components/schemas/PixType"
                      }
                    },
                    "required": [
                      "ownerDocument",
                      "ownerName",
                      "pixKey",
                      "pixType"
                    ]
                  }
                },
                "required": [
                  "amount",
                  "payoutAccount"
                ],
                "additionalProperties": false
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Response for status 200",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "description": "Unique withdrawal identifier",
                      "examples": [
                        "wd_1234567890"
                      ],
                      "type": "string"
                    },
                    "externalId": {
                      "nullable": true,
                      "anyOf": [
                        {
                          "description": "Withdrawal ID in your system",
                          "examples": [
                            "external_withdraw_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "externalIntegrationKey": {
                      "description": "Provider key used for the withdrawal",
                      "examples": [
                        "PagarMe",
                        "Asaas"
                      ],
                      "type": "string"
                    },
                    "externalIntegrationId": {
                      "anyOf": [
                        {
                          "description": "Withdrawal ID in the payment provider",
                          "examples": [
                            "withdraw_123"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "costFee": {
                      "description": "Cost fee applied to the withdrawal",
                      "examples": [
                        4.5
                      ],
                      "type": "number"
                    },
                    "status": {
                      "$ref": "#/components/schemas/Status"
                    },
                    "errorCode": {
                      "anyOf": [
                        {
                          "description": "Error code, if any",
                          "examples": [
                            "insufficient_funds",
                            "invalid_account"
                          ],
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "errorMessage": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "description": "Descriptive error message, if any",
                          "examples": [
                            "Insufficient balance to complete withdrawal",
                            "Invalid bank account"
                          ],
                          "type": "string"
                        }
                      ]
                    },
                    "payedAt": {
                      "anyOf": [
                        {
                          "type": "null"
                        },
                        {
                          "description": "Date and time when the withdrawal was paid (ISO 8601 format)",
                          "examples": [
                            "2024-01-01T12:00:00Z"
                          ],
                          "anyOf": [
                            {
                              "description": "Date and time when the withdrawal was paid (ISO 8601 format)",
                              "examples": [
                                "2024-01-01T12:00:00Z"
                              ],
                              "type": "Date"
                            },
                            {
                              "format": "date-time",
                              "type": "string"
                            },
                            {
                              "format": "date",
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        }
                      ]
                    },
                    "payoutAccount": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "Unique payment account identifier",
                          "examples": [
                            "pa_1234567890"
                          ],
                          "type": "string"
                        },
                        "ownerDocument": {
                          "description": "Account holder document (CPF or CNPJ)",
                          "examples": [
                            "12345678909",
                            "12345678000195"
                          ],
                          "pattern": "^\\d{11}$|^\\d{14}$",
                          "type": "string"
                        },
                        "ownerName": {
                          "description": "Account holder name",
                          "examples": [
                            "John Doe",
                            "Company XYZ Ltda"
                          ],
                          "type": "string"
                        },
                        "pixKey": {
                          "description": "PIX key used for the withdrawal",
                          "examples": [
                            "john@example.com",
                            "11999999999"
                          ],
                          "type": "string"
                        },
                        "pixType": {
                          "$ref": "#/components/schemas/PixType"
                        }
                      },
                      "required": [
                        "id",
                        "ownerDocument",
                        "ownerName",
                        "pixKey",
                        "pixType"
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "externalId",
                    "externalIntegrationKey",
                    "externalIntegrationId",
                    "costFee",
                    "status",
                    "errorCode",
                    "errorMessage",
                    "payedAt",
                    "payoutAccount"
                  ],
                  "noValidate": true,
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "operationId": "postWithdraws"
      },
      "get": {
        "tags": [
          "Transfers"
        ],
        "description": "Returns a paginated list of withdrawals and transfers. Filter by creation date or search by ID (withdrawal ID, external ID, acquirer ID, or End2EndID)",
        "summary": "List withdrawals",
        "parameters": [
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)",
              "examples": [
                "2025-01-15T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)",
              "examples": [
                "2025-01-01T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "default": 1,
              "description": "Page number",
              "examples": [
                1,
                2,
                3
              ],
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "default": 20,
              "description": "Number of items per page",
              "examples": [
                10,
                20,
                50
              ],
              "maximum": 100,
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Withdrawal search ID (can be withdrawal ID, external ID, acquirer ID, or End2EndID)",
              "type": "string"
            }
          }
        ],
        "operationId": "getWithdraws"
      }
    },
    "/withdraws/{id}": {
      "get": {
        "tags": [
          "Transfers"
        ],
        "description": "Returns the details of a specific withdrawal or transfer using its ID",
        "summary": "Get withdrawal by ID",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "operationId": "getWithdrawsById"
      }
    },
    "/customers/": {
      "get": {
        "tags": [
          "Customers"
        ],
        "description": "Retrieve a list of all customers associated with the organization, with support for filters and pagination.",
        "summary": "Get all customers",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "required": false,
            "schema": {
              "format": "email",
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "maxLength": 255,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "schema": {
              "default": 1,
              "description": "Page number",
              "examples": [
                1,
                2,
                3
              ],
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "schema": {
              "default": 20,
              "description": "Number of items per page",
              "examples": [
                10,
                20,
                50
              ],
              "maximum": 100,
              "minimum": 1,
              "multipleOf": 1,
              "type": "number"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "End date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)",
              "examples": [
                "2025-01-15T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "required": false,
            "schema": {
              "description": "Start date for custom filter (YYYY-MM-DDTHH:MM:SSZ format)",
              "examples": [
                "2025-01-01T03:00:00Z"
              ],
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "operationId": "getCustomers"
      },
      "post": {
        "tags": [
          "Customers"
        ],
        "description": "Create a new customer by providing the required data in the request body.",
        "summary": "Create new customer",
        "requestBody": {
          "description": "Schema for creating a new customer",
          "content": {
            "application/json": {
              "schema": {
                "description": "Schema for creating a new customer",
                "title": "Customer",
                "type": "object",
                "properties": {
                  "address": {
                    "description": "Schema for creating a new address",
                    "title": "Customer address",
                    "type": "object",
                    "properties": {
                      "city": {
                        "description": "City name",
                        "examples": [
                          "São Paulo",
                          "Rio de Janeiro"
                        ],
                        "type": "string"
                      },
                      "country": {
                        "default": "BR",
                        "description": "Country code in ISO 3166-1 alpha-2 format",
                        "examples": [
                          "BR",
                          "US"
                        ],
                        "maxLength": 2,
                        "minLength": 2,
                        "type": "string"
                      },
                      "neighborhood": {
                        "description": "Neighborhood name",
                        "examples": [
                          "Downtown",
                          "Jardins"
                        ],
                        "type": "string"
                      },
                      "number": {
                        "description": "Address number",
                        "examples": [
                          "1000",
                          "150"
                        ],
                        "type": "string"
                      },
                      "state": {
                        "description": "State code in ISO 3166-2 format",
                        "examples": [
                          "SP",
                          "RJ"
                        ],
                        "maxLength": 2,
                        "minLength": 2,
                        "type": "string"
                      },
                      "street": {
                        "description": "Street name",
                        "examples": [
                          "Av. Paulista",
                          "Rua das Flores"
                        ],
                        "type": "string"
                      },
                      "zipCode": {
                        "description": "ZIP code without formatting",
                        "examples": [
                          "01311200",
                          "20040002"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "city",
                      "country",
                      "neighborhood",
                      "number",
                      "state",
                      "street",
                      "zipCode"
                    ]
                  },
                  "documentNumber": {
                    "description": "Customer CPF or CNPJ without formatting",
                    "examples": [
                      "12345678909",
                      "12345678000195"
                    ],
                    "pattern": "^\\d{11}$|^\\d{14}$",
                    "type": "string"
                  },
                  "documentType": {
                    "$ref": "#/components/schemas/DocumentType"
                  },
                  "email": {
                    "description": "Customer email",
                    "examples": [
                      "customer@example.com"
                    ],
                    "format": "email",
                    "type": "string"
                  },
                  "name": {
                    "description": "Customer full name",
                    "examples": [
                      "John Doe"
                    ],
                    "type": "string"
                  },
                  "phoneNumber": {
                    "description": "Customer phone number in +55 DD 9XXXXXXXX format",
                    "examples": [
                      "+55 11 987654321"
                    ],
[...]
